$color-dark: #1e212c;
$color-white: #fff;
$color-primary: #ff3f3a;
$color-gray: #424551;
$color-gray-light: #787a80;
$color-orange: #f75e05;
$bg-link: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-md: 20px;
$font-size-lg: 46px;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
$line-height-sm: 130%;
$line-height-base: 150%;
$line-height-md: 160%;
$mb-text: 8px;
$mb-title: 24px;
$mb-adaptive: 60px;
$mb-section: 120px;
$mb-section-other: 180px;
$text-align-primary: center;
$transition-regular: 0.3s;
$b-radius-base: 4px;
$display-link: inline-block;
$display-link-flex: inline-flex;
$width-img: 100%;


