* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

li {
  list-style: none;
}

h1, h3 {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 60px;
}

h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

.link {
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  padding: 0 40px;
  border: 1px solid #f75e05;
}

.box {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-bottom: 60px;
  padding-top: 20px;
}
@media screen and (max-width: 1024px) {
  .box {
    align-items: baseline;
  }
}
@media screen and (max-width: 440px) {
  .box {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 834px) {
  .logo {
    display: inline-flex;
    order: 2;
    justify-content: center;
  }
}
@media screen and (max-width: 440px) {
  .logo {
    margin-bottom: 10px;
  }
}

.nav__link,
.login__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.nav__link.active {
  color: #f75e05;
}

@media screen and (max-width: 834px) {
  nav {
    --transition-time: 500ms;
    position: relative;
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    transform: translateX(-100%);
    transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
    z-index: 4;
    order: 1;
  }
}
nav a:hover {
  color: #f75e05;
}
nav .nav-list {
  display: flex;
  gap: 40px;
  margin-left: 60px;
}
@media screen and (max-width: 834px) {
  nav .nav-list {
    display: none;
    margin: 0;
  }
}
@media screen and (max-width: 834px) {
  nav .nav-links {
    position: absolute;
    display: block;
    top: 0;
    padding: 0 50px;
    background: white;
  }
}
@media screen and (max-width: 834px) {
  nav .nav-links li {
    margin-bottom: 10px;
  }
}
nav .sub-menu {
  --link-height: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
nav .menu-btn {
  display: none;
}
@media screen and (max-width: 834px) {
  nav .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    --icon-width: 25px;
    position: absolute;
    top: -35px;
    right: -20%;
    width: calc(var(--icon-width) + 25px);
    height: calc(var(--icon-width) + 25px);
    flex-direction: column;
    transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.8, 0, 0.33, 1.25);
    cursor: pointer;
    z-index: 10;
  }
}
@media screen and (max-width: 834px) and (max-width: 440px) {
  nav .menu-btn {
    top: -10px;
  }
}
nav .menu-btn.close .line__1 {
  transform: rotate(45deg) translate(2px, -3px);
}
nav .menu-btn.close .line__2 {
  transform: rotate(-45deg);
}
nav .menu-btn.close .line__3 {
  transform: rotate(45deg) translate(-2px, 3px);
}
nav .menu-btn .line {
  width: var(--icon-width);
  background: #1e212c;
  height: 2px;
  margin: 3px 0;
  transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1);
}
nav .menu-btn .line__1 {
  width: var(--icon-width);
  transform-origin: left;
}
nav .menu-btn .line__2 {
  width: var(--icon-width);
  transform-origin: center;
}
nav .menu-btn .line__3 {
  width: var(--icon-width);
  transform-origin: right;
}
nav.nav-open {
  transform: translateX(0%);
}
nav.nav-open .menu-btn {
  right: 10%;
}
@media screen and (max-width: 440px) {
  nav.nav-open .menu-btn {
    right: 15%;
  }
}
nav.nav-open .nav-links li {
  transform: translateX(0);
  opacity: 1;
}
nav.sub-menu-open .sub-menu-btn {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}
nav.sub-menu-open .nav-links li {
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10%);
}

.box__links {
  display: flex;
  align-items: center;
  gap: 64px;
}
@media screen and (max-width: 1024px) {
  .box__links {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 834px) {
  .box__links {
    order: 3;
  }
}
.box__links .btn__link {
  color: #fff;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
}
@media screen and (max-width: 440px) {
  .box__links .btn__link {
    display: none;
  }
}
.box__links .btn__link:hover {
  background: #fff;
  color: #f75e05;
}
.box__links .login__link {
  display: inline-flex;
  align-items: center;
}
.box__links .login__link::before {
  display: inline-block;
  content: "";
  background-image: url(../images/Profile.svg);
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 33, 44, 0.75);
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.modal-overlay.open {
  display: flex;
}

.modal {
  padding: 48px 48px 0;
}
.modal h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 24px;
  color: #1e212c;
}
.modal .modal-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #787a80;
  margin-bottom: 24px;
}

.modal-wrapper {
  border: 1px solid #e5e8ed;
  max-width: 486px;
  border-radius: 4px;
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(30, 33, 44, 0.08), 0 26px 24px -10px rgba(30, 33, 44, 0.1), 0 60px 80px -20px rgba(30, 33, 44, 0.16);
  background: #fff;
  max-height: 100vh;
  overflow-y: auto;
}

.input__modal {
  max-width: 390px;
  width: 100%;
  margin-bottom: 20px;
}
.input__modal label {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 8px;
}
.input__modal div {
  display: flex;
  justify-content: space-between;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  width: 100%;
}
.input__modal div input {
  border: none;
  width: 100%;
  padding: 11px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #1e212c;
}
.input__modal div input:focus {
  outline: none;
}
.input__modal div button {
  background: #fff;
  padding: 15px;
  border: none;
  cursor: pointer;
}
.input__modal div button::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/eye.svg);
}
.input__modal input {
  border-radius: 4px;
  border: 1px solid #d7dadd;
  width: 100%;
  padding: 11px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #1e212c;
}

.check-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.check-link a {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ff3f3a;
  margin-bottom: 24px;
}

.check-box {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 315px;
  cursor: pointer;
  margin-bottom: 24px;
}
.check-box input[type=checkbox] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.check-box__custom {
  width: 16px;
  height: 16px;
  border: 1px solid #ff3f3a;
  border-radius: 4px;
  display: inline-block;
  background: #ff3f3a;
  position: relative;
  flex-shrink: 0;
}
.check-box input:checked + .check-box__custom::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.check-box__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.modal-link {
  display: inline-block;
  font-size: 14px;
  line-height: 314%;
  letter-spacing: 0.04em;
  color: #fff;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  padding: 0 32px;
  margin-bottom: 24px;
  width: 100%;
}
.modal-link:hover {
  background: #fff;
  color: #f75e05;
}

.modal-up, .link-up {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 24px;
}

.modal-up p {
  color: #424551;
}
.modal-up a {
  color: #ff3f3a;
}

.sign-social {
  border-top: 1px solid #e5e8ed;
  padding-top: 24px;
}
.sign-social p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #787a80;
  margin-bottom: 16px;
}
.sign-social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 48px;
}

.modal-facebook:hover img {
  content: url(../images/facebook_hs.svg);
}

.modal-google:hover img {
  content: url(../images/google_hs.svg);
}

.modal-twitter:hover img {
  content: url(../images/twitter_hs.svg);
}

.modal-linkedin:hover img {
  content: url(../images/linkedin_hs.svg);
}

.close-btn {
  cursor: pointer;
  float: right;
  font-size: 20px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 180px;
}
@media screen and (max-width: 834px) {
  .about {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 50px;
  }
}
@media screen and (max-width: 440px) {
  .about {
    margin-bottom: 60px;
  }
}
.about img {
  max-width: 465px;
  width: 100%;
}

.about__text {
  max-width: 600px;
}
.about__text h3 {
  margin-bottom: 48px;
}
.about__text .about__text-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 24px;
}
.about__text .about__text-describe {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 60px;
}
.about__text .about__text-links {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 834px) {
  .about__text .about__text-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.about__text .about__text-links a {
  color: #f75e05;
}
.about__text .about__text-links a:hover {
  color: #fff;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
}

.watch__play {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 32px;
}
.watch__play:hover::before {
  background-image: url(../images/play_hover.svg);
}
.watch__play::before {
  content: "";
  display: inline-block;
  background-image: url(../images/play.svg);
  width: 84px;
  height: 84px;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.watch__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 180px;
}
@media screen and (max-width: 1024px) {
  .watch__item {
    flex-wrap: wrap;
    gap: 50px;
  }
}
@media screen and (max-width: 440px) {
  .watch__item {
    margin-bottom: 60px;
  }
}
.watch__item img {
  max-width: 810px;
  width: 100%;
}

.watch__text {
  width: 288px;
}
@media screen and (max-width: 1024px) {
  .watch__text {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (max-width: 834px) {
  .watch__text {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
.watch__text p {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 20px;
}
.watch__text span {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #ff3f3a;
}

.values {
  margin-bottom: 180px;
}
@media screen and (max-width: 440px) {
  .values {
    margin-bottom: 60px;
  }
}
.values h6, .values h3 {
  text-align: center;
}

.values__examples {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .values__examples {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

.values__item {
  width: 240px;
  text-align: center;
}
.values__item img {
  margin-bottom: 24px;
}
.values__item h5 {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
}
.values__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}

.border {
  position: relative;
}
.border::after {
  content: "";
  border: 1px solid #d7dadd;
  width: 162px;
  transform: rotate(-90deg);
  position: absolute;
  top: 50%;
  left: 85%;
}
@media screen and (max-width: 1024px) {
  .border::after {
    display: none;
  }
}

.directions {
  margin-bottom: 180px;
}
@media screen and (max-width: 440px) {
  .directions {
    margin-bottom: 60px;
  }
}
.directions h6, .directions h3 {
  text-align: center;
}

.directions__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.directions__item {
  border-radius: 4px;
  max-width: 390px;
  border: 1px solid #e5e8ed;
}
.directions__item img {
  max-width: 100%;
}
.directions__item div {
  padding: 24px;
}
.directions__item span {
  display: inline-block;
  padding: 1px 8px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  border-radius: 4px;
  margin-bottom: 20px;
}
.directions__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
  margin-bottom: 20px;
}
.directions__item a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
}
.directions__item a::after {
  content: "";
  display: inline-block;
  background-image: url(../images/arrow.svg);
  width: 24px;
  height: 24px;
}
.directions__item a:hover {
  color: #ff3f3a;
  gap: 12px;
}

.marketing {
  background: #03cea4;
}

.management {
  background: #5a87fc;
}

.recruting {
  background: #f89828;
}

.design {
  background: #f52f6e;
}

.development {
  background: #7772f1;
}

.directions__soon {
  border-radius: 4px;
  background: #f4f5f6;
  max-width: 390px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #424551;
  padding: 164px 74px 196px;
}

.steps {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 180px;
}
@media screen and (max-width: 768px) {
  .steps {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  .steps img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .steps__describe {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .steps__describe h3, .steps__describe h6 {
    text-align: center;
  }
}

.steps__list {
  position: relative;
}
.steps__list::before {
  position: absolute;
  width: 1px;
  height: 100%;
  background: #e5e8ed;
  content: "";
  z-index: 0;
  top: 3px;
  left: 8px;
}

.step__item {
  max-width: 486px;
  padding: 0 0 32px 40px;
  position: relative;
}
.step__item::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/ellipse.svg);
  position: absolute;
  left: 0;
  top: 3px;
  z-index: 1;
}
.step__item span {
  font-weight: 900;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  color: #787a80;
  margin-bottom: 2px;
}
.step__item h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 8px;
}
.step__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}

.option {
  padding-bottom: 0;
}

.team {
  margin-bottom: 120px;
}
@media screen and (max-width: 440px) {
  .team {
    margin-bottom: 60px;
  }
}
.team h6, .team h3 {
  text-align: center;
}

.team__squad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px 30px;
}

.team__squad-item {
  text-align: center;
  position: relative;
  overflow: hidden;
}
.team__squad-item:hover .team__card::after {
  opacity: 1;
  pointer-events: none;
}
.team__squad-item:hover ul {
  bottom: 90px;
}
.team__squad-item p {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 4px;
}
.team__squad-item span {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}
.team__squad-item ul {
  display: flex;
  gap: 12px;
  position: absolute;
  bottom: -30px;
  right: 20px;
  transition: bottom 0.5s;
  z-index: 3;
}
.team__squad-item .team__card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 4px;
  width: 285px;
  height: 340px;
  background-color: #ffcf2d;
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;
}
.team__squad-item .team__card img {
  position: relative;
  z-index: 1;
}
.team__squad-item .team__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: 2;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1e212c 100%);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.team__icons-fbook img {
  transition: 0.3s;
}
.team__icons-fbook img:hover {
  content: url(../images/facebook_hover.svg);
}

.team__icons-insta img {
  transition: 0.3s;
}
.team__icons-insta img:hover {
  content: url(../images/instagram_hover.svg);
}

.team__icons-lindin img {
  transition: 0.3s;
}
.team__icons-lindin img:hover {
  content: url(../images/linkedin_hover.svg);
}

.comment {
  background-color: #f4f5f6;
  padding: 180px 0 160px;
}
@media screen and (max-width: 414px) {
  .comment {
    display: none;
  }
}
.comment h6, .comment h3 {
  text-align: center;
}

.comment__item {
  max-width: 1020px;
  margin: 0 auto;
  background-color: #fff;
  padding: 64px 105px;
}
.comment__item .comment__text {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 24px;
}
.comment__item .comment__text::before {
  content: "";
  display: inline-block;
  background-image: url(../images/braces.svg);
  width: 28px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.comment__text,
.comment__client {
  padding-left: 58px;
}

.comment__client {
  display: flex;
  align-items: center;
  gap: 20px;
}
.comment__client p {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
  margin-bottom: 4px;
}
.comment__client span {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
}

.jobs__bg {
  background-color: #f4f5f6;
}

.jobs {
  padding-bottom: 100px;
  margin-bottom: 100px;
}
@media screen and (max-width: 440px) {
  .jobs {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 414px) {
  .jobs {
    padding: 50px 0;
  }
}
.jobs h6, .jobs h3 {
  text-align: center;
}
.jobs ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 102px;
}

.blog {
  margin-bottom: 180px;
}
@media screen and (max-width: 440px) {
  .blog {
    margin-bottom: 60px;
  }
}

.blog__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 440px) {
  .blog__text {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
  }
}
.blog__text a {
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  color: #fff;
}
.blog__text a:hover {
  background: #fff;
  color: #f75e05;
}

.blog__posts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .blog__posts {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

.blog__posts-item {
  max-width: 390px;
  position: relative;
}
.blog__posts-item img {
  margin-bottom: 16px;
  max-width: 390px;
  width: 100%;
}

.blog__text_absolute {
  display: inline-flex;
  align-items: center;
  position: absolute;
  border-radius: 4px;
  padding: 1px 8px;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  gap: 4px;
  top: 12px;
  left: 12px;
}

.podcast::before,
.video::before,
.articl::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 17px;
}

.podcast::before {
  background-image: url(../images/mic_card.svg);
}

.video::before {
  background-image: url(../images/video_play_card.svg);
}

.articl::before {
  background-image: url(../images/files_card.svg);
}

.posts__describe {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.posts__item,
.posts__date,
.posts__timer {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
}

.posts__item {
  font-weight: 700;
}
.posts__item::after {
  content: "";
  width: 12px;
  border: 1px solid #787a80;
  transform: rotate(-90deg);
  margin: 0 8px;
}

.posts__date {
  font-weight: 400;
  gap: 8px;
}
.posts__date::before {
  content: "";
  display: inline-block;
  background-image: url(../images/calendar.svg);
  width: 16px;
  height: 17px;
  flex-shrink: 0;
}
.posts__date::after {
  content: "";
  width: 12px;
  border: 1px solid #787a80;
  transform: rotate(-90deg);
  margin-right: 8px;
}

.posts__timer {
  font-weight: 400;
  gap: 8px;
}
.posts__timer::before {
  content: "";
  display: inline-block;
  background-image: url(../images/clock.svg);
  width: 16px;
  height: 15px;
  flex-shrink: 0;
}

.posts__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 8px;
}

.posts__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 16px;
}

.posts__link {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
}
.posts__link:hover {
  color: #f75e05;
}
.posts__link:hover::after {
  margin-left: 12px;
}
.posts__link::after {
  content: "";
  display: inline-block;
  background-image: url(../images/arrow.svg);
  width: 24px;
  height: 24px;
  margin-left: 8px;
  transition: 0.3s ease;
}

.option .posts__date::after {
  display: none;
}

.form__item {
  position: relative;
  background-color: #ffd6cf;
  padding: 120px 0 180px;
}
.form__item::before {
  content: "";
  display: inline-block;
  background-image: url(../images/pict-form.png);
  width: 354px;
  height: 254px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-position: bottom;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1300px) {
  .form__item::before {
    background-image: url(../images/pict-form-md.png);
    width: 244px;
    height: 170px;
  }
}
@media screen and (max-width: 768px) {
  .form__item::before {
    display: none;
  }
}
.form__item::after {
  content: "";
  display: inline-block;
  background-image: url(../images/pict-form.png);
  width: 354px;
  height: 254px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-position: bottom;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1300px) {
  .form__item::after {
    background-image: url(../images/pict-form-md.png);
    width: 244px;
    height: 170px;
  }
}
@media screen and (max-width: 768px) {
  .form__item::after {
    display: none;
  }
}
@media screen and (max-width: 440px) {
  .form__item {
    padding: 50px 0;
  }
}

.form__item-title {
  max-width: 810px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 360px) {
  .form__item-title h3 {
    font-size: 30px;
  }
}

.createx__form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 440px) {
  .createx__form {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}
.createx__form input {
  border: 1px solid #d7dadd;
  border-radius: 4px;
  padding: 13px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
  max-width: 422px;
  width: 100%;
}
@media screen and (max-width: 414px) {
  .createx__form input {
    max-width: 310px;
  }
}
.createx__form button {
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  color: #fff;
  transition: 0.3s;
}
.createx__form button:hover {
  background: #fff;
  color: #f75e05;
}

.wrapper {
  background: linear-gradient(to bottom, #1e212c 85.35%, #2c2f3c 14.65%);
}

.footer__wrapper {
  padding: 80px 0 60px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 834px) {
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
}
@media screen and (max-width: 440px) {
  .footer__wrapper {
    margin-bottom: 70px;
  }
}

.footer__info {
  max-width: 275px;
}
.footer__info img {
  margin-bottom: 24px;
}
.footer__info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  opacity: 0.6;
  margin-bottom: 38px;
}
.footer__info ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__list {
  max-width: 157px;
}
.footer__list h6 {
  color: #fff;
  margin-bottom: 12px;
}
.footer__list li {
  margin-bottom: 10px;
}
.footer__list a {
  opacity: 0.6;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
}
.footer__list a:hover {
  opacity: 1;
}

.footer__phone,
.footer__mail {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.footer__phone::before,
.footer__mail::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
}

.footer__phone::before {
  background-image: url(../images/phone.svg);
}

.footer__mail::before {
  background-image: url(../images/envelope.svg);
}

.footer__form {
  max-width: 286px;
}
.footer__form h6 {
  color: #fff;
  margin-bottom: 24px;
}
.footer__form form {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  margin-bottom: 12px;
}
.footer__form input {
  padding: 9px 12px;
  font-weight: 400;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.12);
  line-height: 150%;
  opacity: 0.6;
  border: none;
  color: #fff;
  width: 100%;
}
.footer__form input:focus {
  outline: none;
}
.footer__form button {
  background: rgba(255, 255, 255, 0.12);
  padding: 10px;
  opacity: 0.6;
  border: none;
}
.footer__form small {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #fff;
}

.facebook__link:hover img {
  content: url(../images/facebook_footer_hover.svg);
}

.twitter__link:hover img {
  content: url(../images/twitter_hover.svg);
}

.youtube__link:hover img {
  content: url(../images/youtube_hover.svg);
}

.telegram__link:hover img {
  content: url(../images/telegram_hover.svg);
}

.insta__link:hover img {
  content: url(../images/instagram_footer_hover.svg);
}

.linkedin__link:hover img {
  content: url(../images/linkedin_footer_hover.svg);
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
@media screen and (max-width: 390px) {
  .copyright {
    display: block;
    text-align: center;
  }
}

.copyright__left p, .copyright__left span {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
}
.copyright__left p {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 390px) {
  .copyright__left p {
    justify-content: center;
    margin-bottom: 15px;
  }
}

.copyright__item {
  display: inline-flex;
  align-items: center;
}
.copyright__item::after {
  display: inline-block;
  content: "";
  background-image: url(../images/heart.svg);
  width: 16px;
  height: 16px;
  margin: 0 4px;
}

.copyright__right {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  opacity: 0.6;
  color: #fff;
  cursor: pointer;
}/*# sourceMappingURL=about_us.css.map */