* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

li {
  list-style: none;
}

h3 {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 60px;
}

h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.link {
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  padding: 0 40px;
  border: 1px solid #f75e05;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  margin-bottom: 80px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-left: 60px;
}

.nav__list a:hover {
  color: #f75e05;
}

.nav__links,
.login__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.nav__links.active {
  color: #f75e05;
}

.box__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
}

.box__links .btn__link {
  color: #fff;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
}

.box__links .btn__link:hover {
  background: #fff;
  color: #f75e05;
}

.box__links .login__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__links .login__link::before {
  display: inline-block;
  content: "";
  background-image: url(../images/Profile.svg);
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 180px;
}

.about__text {
  max-width: 600px;
}

.about__text h3 {
  margin-bottom: 48px;
}

.about__text .about__text-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 24px;
}

.about__text .about__text-describe {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 60px;
}

.about__text .about__text-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.about__text .about__text-links a {
  color: #f75e05;
}

.about__text .about__text-links a:hover {
  color: #fff;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
}

.watch__play {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 32px;
}

.watch__play:hover::before {
  background-image: url(../images/play_hover.svg);
}

.watch__play::before {
  content: "";
  display: inline-block;
  background-image: url(../images/play.svg);
  width: 84px;
  height: 84px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.watch__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 180px;
}

.watch__text {
  width: 288px;
}

.watch__text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 20px;
}

.watch__text span {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #ff3f3a;
}

.values {
  margin-bottom: 180px;
}

.values h6, .values h3 {
  text-align: center;
}

.values__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.values__item {
  width: 240px;
  text-align: center;
}

.values__item img {
  margin-bottom: 24px;
}

.values__item h5 {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
}

.values__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}

.border {
  position: relative;
}

.border::after {
  content: "";
  border: 1px solid #d7dadd;
  width: 162px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  top: 50%;
  left: 85%;
}

.directions {
  margin-bottom: 180px;
}

.directions h6, .directions h3 {
  text-align: center;
}

.directions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.directions__item {
  border-radius: 4px;
  max-width: 390px;
  border: 1px solid #e5e8ed;
}

.directions__item img {
  max-width: 100%;
}

.directions__item div {
  padding: 24px;
}

.directions__item span {
  display: inline-block;
  padding: 1px 8px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  border-radius: 4px;
  margin-bottom: 20px;
}

.directions__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
  margin-bottom: 20px;
}

.directions__item a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
}

.directions__item a::after {
  content: "";
  display: inline-block;
  background-image: url(../images/arrow.svg);
  width: 24px;
  height: 24px;
}

.directions__item a:hover {
  color: #ff3f3a;
}

.marketing {
  background: #03cea4;
}

.management {
  background: #5a87fc;
}

.recruting {
  background: #f89828;
}

.design {
  background: #f52f6e;
}

.development {
  background: #7772f1;
}

.directions__soon {
  border-radius: 4px;
  background: #f4f5f6;
  max-width: 390px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #424551;
  padding: 164px 74px 196px;
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 180px;
}

.steps__list {
  position: relative;
}

.steps__list::before {
  position: absolute;
  width: 1px;
  height: 100%;
  background: #e5e8ed;
  content: "";
  z-index: 0;
  top: 3px;
  left: 8px;
}

.step__item {
  max-width: 486px;
  padding: 0 0 32px 40px;
  position: relative;
}

.step__item::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/ellipse.svg);
  position: absolute;
  left: 0;
  top: 3px;
  z-index: 1;
}

.step__item span {
  font-weight: 900;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  color: #787a80;
  margin-bottom: 2px;
}

.step__item h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 8px;
}

.step__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}

.option {
  padding-bottom: 0;
}

.team {
  margin-bottom: 120px;
}

.team h6, .team h3 {
  text-align: center;
}

.team__squad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px 30px;
}

.team__squad-item {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.team__squad-item:hover .team__card::after {
  opacity: 1;
  pointer-events: none;
}

.team__squad-item:hover ul {
  bottom: 90px;
}

.team__squad-item p {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 4px;
}

.team__squad-item span {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}

.team__squad-item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  position: absolute;
  bottom: -30px;
  right: 20px;
  -webkit-transition: bottom 0.5s;
  transition: bottom 0.5s;
  z-index: 3;
}

.team__squad-item .team__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-radius: 4px;
  width: 285px;
  height: 340px;
  background-color: #ffcf2d;
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;
}

.team__squad-item .team__card img {
  position: relative;
  z-index: 1;
}

.team__squad-item .team__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(43.9%, rgba(30, 33, 44, 0)), color-stop(55.21%, rgba(30, 33, 44, 0.03)), color-stop(68.73%, rgba(30, 33, 44, 0.33)), color-stop(76.17%, rgba(30, 33, 44, 0.56)), color-stop(83.75%, rgba(30, 33, 44, 0.77)), color-stop(91.49%, rgba(30, 33, 44, 0.92)), to(#1e212c));
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1e212c 100%);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  pointer-events: none;
}

.team__icons-fbook img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team__icons-fbook img:hover {
  content: url(../images/facebook_hover.svg);
}

.team__icons-insta img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team__icons-insta img:hover {
  content: url(../images/instagram_hover.svg);
}

.team__icons-lindin img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team__icons-lindin img:hover {
  content: url(../images/linkedin_hover.svg);
}

.comment {
  background-color: #f4f5f6;
  padding: 180px 0 160px;
}

.comment h6, .comment h3 {
  text-align: center;
}

.comment__item {
  max-width: 1020px;
  margin: 0 auto;
  background-color: #fff;
  padding: 64px 105px;
}

.comment__item .comment__text {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 24px;
}

.comment__item .comment__text::before {
  content: "";
  display: inline-block;
  background-image: url(../images/braces.svg);
  width: 28px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.comment__text,
.comment__client {
  padding-left: 58px;
}

.comment__client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.comment__client p {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
  margin-bottom: 4px;
}

.comment__client span {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
}

.jobs {
  background-color: #f4f5f6;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.jobs h6, .jobs h3 {
  text-align: center;
}

.jobs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px 102px;
}

.blog {
  margin-bottom: 180px;
}

.blog__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__text a {
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  color: #fff;
}

.blog__text a:hover {
  background: #fff;
  color: #f75e05;
}

.blog__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__posts-item {
  max-width: 390px;
  position: relative;
}

.blog__posts-item img {
  margin-bottom: 16px;
}

.blog__text_absolute {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border-radius: 4px;
  padding: 1px 8px;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  gap: 4px;
  top: 12px;
  left: 12px;
}

.podcast::before,
.video::before,
.articl::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 17px;
}

.podcast::before {
  background-image: url(../images/mic.svg);
}

.video::before {
  background-image: url(../images/video_play.svg);
}

.articl::before {
  background-image: url(../images/files.svg);
}

.posts__describe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.posts__item,
.posts__date,
.posts__timer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
}

.posts__item {
  font-weight: 700;
}

.posts__item::after {
  content: "";
  width: 12px;
  border: 1px solid #787a80;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin: 0 8px;
}

.posts__date {
  font-weight: 400;
  gap: 8px;
}

.posts__date::before {
  content: "";
  display: inline-block;
  background-image: url(../images/calendar.svg);
  width: 16px;
  height: 17px;
}

.posts__date::after {
  content: "";
  width: 12px;
  border: 1px solid #787a80;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-right: 8px;
}

.posts__timer {
  font-weight: 400;
  gap: 8px;
}

.posts__timer::before {
  content: "";
  display: inline-block;
  background-image: url(../images/clock.svg);
  width: 16px;
  height: 15px;
}

.posts__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 8px;
}

.posts__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 16px;
}

.posts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
}

.posts__link:hover {
  color: #f75e05;
}

.posts__link::after {
  content: "";
  display: inline-block;
  background-image: url(../images/arrow.svg);
  width: 24px;
  height: 24px;
  margin-left: 8px;
}

.option .posts__date::after {
  display: none;
}

.form__item {
  background-color: #ffd6cf;
  padding: 120px 0 180px;
}

.form__item-title {
  max-width: 810px;
  margin: 0 auto;
  text-align: center;
}

.createx__form {
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createx__form input {
  border: 1px solid #d7dadd;
  border-radius: 4px;
  padding: 13px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #9a9ca5;
  max-width: 422px;
  width: 100%;
}

.createx__form button {
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.createx__form button:hover {
  background: #fff;
  color: #f75e05;
}

.wrapper {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(85.35%, #1e212c), color-stop(14.65%, #2c2f3c));
  background: linear-gradient(to bottom, #1e212c 85.35%, #2c2f3c 14.65%);
}

.footer__wrapper {
  padding: 80px 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  max-width: 275px;
}

.footer__info img {
  margin-bottom: 24px;
}

.footer__info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  opacity: 0.6;
  margin-bottom: 38px;
}

.footer__info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer__list {
  max-width: 157px;
}

.footer__list h6 {
  color: #fff;
  margin-bottom: 12px;
}

.footer__list li {
  margin-bottom: 10px;
}

.footer__list a {
  opacity: 0.6;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
}

.footer__phone,
.footer__mail {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.footer__phone::before,
.footer__mail::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
}

.footer__phone::before {
  background-image: url(../images/phone.svg);
}

.footer__mail::before {
  background-image: url(../images/envelope.svg);
}

.footer__form {
  max-width: 286px;
}

.footer__form h6 {
  color: #fff;
  margin-bottom: 24px;
}

.footer__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  margin-bottom: 12px;
}

.footer__form input {
  padding: 9px 12px;
  font-weight: 400;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.12);
  line-height: 150%;
  opacity: 0.6;
  border: none;
  color: #fff;
  width: 100%;
}

.footer__form input:focus {
  outline: none;
}

.footer__form button {
  background: rgba(255, 255, 255, 0.12);
  padding: 10px;
  opacity: 0.6;
  border: none;
}

.footer__form small {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #fff;
}

.facebook__link:hover img {
  content: url(../images/facebook_footer_hover.svg);
}

.twitter__link:hover img {
  content: url(../images/twitter_hover.svg);
}

.youtube__link:hover img {
  content: url(../images/youtube_hover.svg);
}

.telegram__link:hover img {
  content: url(../images/telegram_hover.svg);
}

.insta__link:hover img {
  content: url(../images/instagram_footer_hover.svg);
}

.linkedin__link:hover img {
  content: url(../images/linkedin_footer_hover.svg);
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.copyright__left p, .copyright__left span {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
}

.copyright__left p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__item::after {
  display: inline-block;
  content: "";
  background-image: url(../images/heart.svg);
  width: 16px;
  height: 16px;
  margin: 0 4px;
}

.copyright__right {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  opacity: 0.6;
  color: #fff;
}
/*# sourceMappingURL=about_us.css.map */