@import '_variables';
@mixin max-screen($res) {
    @media screen and (max-width: $res) {
      @content;
    }
}
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@mixin flex-wrap {
	flex-wrap: wrap;
	justify-content: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
}
.container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}
li{
    list-style: none;
}
h3{
    font-weight: $font-weight-black;
    font-size: $font-size-lg;
    line-height: $line-height-sm;
    color: $color-dark;
    margin-bottom: $mb-adaptive;
}
h6{
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    line-height: $line-height-base;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-dark;
    margin-bottom: $mb-text;
}
a{
    text-decoration: none;
    transition: $transition-regular;
}
.link{
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    line-height: 325%;
    letter-spacing: 0.03em;
    text-align: $text-align-primary;
    border-radius: $b-radius-base;
    padding: 0 40px;
    border: 1px solid $color-orange;
}
.box{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding-top: 20px;
    margin-bottom: $mb-adaptive;
    @include max-screen(1024px){
        align-items: baseline;
    }
    @include max-screen(440px){
        grid-template-columns: auto;
    }
}
.logo{
    @include max-screen(834px){
        display: $display-link-flex;
        order: 2;
        justify-content: center;
    }
    @include max-screen(440px){
        margin-bottom: 10px;
    }
}
.nav__link,
.login__link{
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    line-height: $line-height-md;
    color: $color-gray;
}
.nav__links.active{
    color: $color-orange;
}
nav {
    @include max-screen(834px){
        --transition-time: 500ms;
	position: relative;
	width: 200px;
	height: auto;
	display: flex;
	align-items: center;
	transform: translateX(-100%);
	transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
	z-index: 4;
    order: 1;
    }
	a{
        &:hover{
            color: $color-orange;
        }
	}
    .nav-list{
        display: flex;
        gap: 40px;
        margin-left: 60px;
        @include max-screen(834px){
           display: none;
           margin: 0;
        }
    }
	.nav-links {
        @include max-screen(834px){
            position: absolute;
            display: block;
            top: 0;
            padding: 0 50px;
            background: $color-white;
        }
		li {
            @include max-screen(834px){
            margin-bottom: 10px;
            }
			
		}
	}
	.sub-menu {
		--link-height: 60px;
		position: absolute;
		top: 50%;
		left: 0;
		width: $width-img;
		transform: translateY(-50%);
	}
	.menu-btn {
        display: none;
        @include max-screen(834px){
            @include flex-center();
		--icon-width: 25px;
		position: absolute;
		top: -35px;
		right: -20%;
		width: calc(var(--icon-width) + 25px);
		height: calc(var(--icon-width) + 25px);
		flex-direction: column;
		transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.8, 0, 0.33, 1.25);
		cursor: pointer;
		z-index: 10;
        @include max-screen(440px){
            top: -10px;
        }
        }
		&.close {
			.line {
				&__1 {
					transform: rotate(45deg) translate(2px, -3px);
				}
				&__2 {
					transform: rotate(-45deg);
				}
				&__3 {
					transform: rotate(45deg) translate(-2px, 3px);
				}
			}
		}
		.line {
			width: var(--icon-width);
			background: $color-dark;
			height: 2px;
			margin: 3px 0;
			transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1);
			&__1 {
				width: var(--icon-width);
				transform-origin: left;
			}
			&__2 {
				width: var(--icon-width);
				transform-origin: center;
			}
			&__3 {
				width: var(--icon-width);
				transform-origin: right;
			}
		}
	}
	&.nav-open {
		transform: translateX(0%);
		.menu-btn {
			right: 10%;
            @include max-screen(440px){
                right: 15%;
            }
		}
		.nav-links {
			li {
				transform: translateX(0);
				opacity: 1;
			}
		}
	}
	&.sub-menu-open {
		.sub-menu-btn {
			opacity: 1;
			transform: translateX(0);
			pointer-events: all;
		}
		.nav-links {
			li {
				pointer-events: none;
				opacity: 0;
				transform: translateY(-10%);
			}
		}
	}
}
.box__links{
    display: flex;
    align-items: center;
    gap: 64px;
    @include max-screen(1024px){
        flex-direction: column;
        gap: 20px;
    }
    @include max-screen(834px){
        order: 3;
    }
    .btn__link{
        color: $color-white;
        background: $bg-link;
        @include max-screen(440px){
            display: none;
        }
        &:hover{
            background: $color-white;
            color: $color-orange;
        }
    }
    .login__link{
        display: $display-link-flex;
        align-items: center;
        &::before{
            display: $display-link;
            content: "";
            background-image: url(../images/Profile.svg);
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
    }
}
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: $width-img;
    height: 100%;
    background: rgba(30, 33, 44, 0.75);
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.modal-overlay.open{
    display: flex;
}
.modal {
    padding: 48px 48px 0;
    h1{
        font-weight: $font-weight-bold;
        font-size: 28px;
        line-height: $line-height-base;
        text-align: $text-align-primary;
        margin-bottom: $mb-title;
        color: $color-dark;
    }
    .modal-text{
        font-weight: $font-weight-regular;
        font-size: $font-size-sm;
        line-height: $line-height-base;
        text-align: $text-align-primary;
        color: $color-gray-light;
        margin-bottom: $mb-title;
    }
}
.modal-wrapper{
    border: 1px solid #e5e8ed;
    max-width: 486px;
    border-radius: $b-radius-base;
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(30, 33, 44, 0.08), 0 26px 24px -10px rgba(30, 33, 44, 0.1), 0 60px 80px -20px rgba(30, 33, 44, 0.16);
    background: $color-white;
    max-height: 100vh;
    overflow-y: auto;
}
.input__modal{
    max-width: 390px;
    width: $width-img;
    margin-bottom: 20px;
    label{
        display: $display-link;
        font-weight: $font-weight-regular;
        font-size: $font-size-sm;
        line-height: $line-height-base;
        color: $color-gray;
        margin-bottom: $mb-text;
    }
    div{
        display: flex;
        justify-content: space-between;
        border: 1px solid #d7dadd;
        border-radius: $b-radius-base;
        width: $width-img;
        input{
            border: none;
            width: $width-img;
            padding: 11px 16px;
            font-weight: $font-weight-regular;
            font-size: $font-size-sm;
            line-height: $line-height-base;
            color: #9a9ca5;
            &:focus{
                outline: none;
            }
        }
        button{
            background: $color-white;
            padding: 15px;
            border: none;
            cursor: pointer;
            &::after{
                content: "";
                display: $display-link;
                width: 16px;
                height: 16px;
                background-image: url(../images/eye.svg);
            }
        }
    }
    input{
        border-radius: $b-radius-base;
        border: 1px solid #d7dadd;
        width: $width-img;
        padding: 11px 16px;
        font-weight: $font-weight-regular;
        font-size: $font-size-sm;
        line-height: $line-height-base;
        color: #9a9ca5;
    }
}
.check-link{
    @include space-between();
    a{
        font-weight: $font-weight-regular;
        font-size: $font-size-sm;
        line-height: $line-height-base;
        color: $color-primary;
        margin-bottom: $mb-title;
    }
}
.check-box {
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 315px;
    cursor: pointer;
    margin-bottom: $mb-title;
  
    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }
    
    &__custom {
    width: 16px;
    height: 16px;
    border: 1px solid $color-primary;
    border-radius: $b-radius-base;
    display: $display-link;
    background: $color-primary;
    position: relative;
    flex-shrink: 0;
    }
    input:checked + .check-box__custom{
      &::after {
          content: "";
          position: absolute;
          top: 1px;
          left: 4px;
          width: 4px;
          height: 8px;
          border: solid $color-white;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          }
    }
    &__text {
      font-weight: $font-weight-regular;
      font-size: $font-size-base;
      line-height: $line-height-md;
      color: $color-gray;
    }
}
.modal-link{
    display: $display-link;
    font-size: $font-size-sm;
    line-height: 314%;
    letter-spacing: 0.04em;
    color: $color-white;
    background: $bg-link;
    padding: 0 32px;
    margin-bottom: $mb-title;
    width: $width-img;
    &:hover{
        background: $color-white;
        color: $color-orange;
    }
}
.modal-up, .link-up{
    font-weight: $font-weight-regular;
    font-size: $font-size-sm;
    line-height: $line-height-base;
    margin-bottom: $mb-title;
}
.modal-up{
    p{
        color: $color-gray;
    }
    a{
        color: $color-primary;
    }
}
.sign-social{
    border-top: 1px solid #e5e8ed;
    padding-top: 24px;
    p{
        font-weight: $font-weight-regular;
        font-size: $font-size-sm;
        line-height: $line-height-base;
        text-align: $text-align-primary;
        color: $color-gray-light;
        margin-bottom: 16px;
    }
    ul{
       @include flex-center();
        gap: 12px;
        margin-bottom: 48px;
    }
}
.modal-facebook{
    &:hover{
        img{
            content: url(../images/facebook_hs.svg);
        }
    }
}
.modal-google{
    &:hover{
        img{
            content: url(../images/google_hs.svg);
        }
    }
}
.modal-twitter{
    &:hover{
        img{
            content: url(../images/twitter_hs.svg);
        }
    }
}
.modal-linkedin{
    &:hover{
        img{
            content: url(../images/linkedin_hs.svg);
        }
    }
}
.close-btn {
    cursor: pointer;
    float: right;
    font-size: $font-size-md;
}
.blogs{
    margin-bottom: $mb-adaptive;
    h6, h3{
        text-align: $text-align-primary;
    }
}
.blogs__menu{
    display: flex;
    justify-content: space-between;
    @include max-screen(1024px){
        @include flex-wrap();
        gap: 20px;
    }
}
.blogs__kind{
    display: flex;
    @include max-screen(390px){
        @include flex-wrap();
    }
    p{
        display: flex;
        align-items: center;
        gap: 8px;
        border: 1px solid transparent;
        padding: 10px 20px;
        border-radius: $b-radius-base;
        color: #9a9ca5;
        font-weight: $font-weight-bold;
        font-size: $font-size-base;
        line-height: $line-height-md;
        text-align: $text-align-primary;
        transition: $transition-regular;
        &:hover{
            color: $color-primary;
            border: 1px solid $color-primary;
        }
    }
}
.blogs__kind-article,
.blogs__kind-video,
.blogs__kind-podcast{
    &::before{
        content: "";
        display: $display-link;
        width: 16px;
        height: 17px;
        transition: $transition-regular;
    }
}
.blogs__kind-article{
    &::before{
        background-image: url(../images/files_blog.svg);
    }
    &:hover{
        &::before{
            background-image: url(../images/files_primary.svg);
        }
    }
}
.blogs__kind-video{
    &::before{
        background-image: url(../images/video_play_blog.svg);
    }
    &:hover{
        &::before{
            background-image: url(../images/play_curator.svg);
        }
    }
}
.blogs__kind-podcast{
    &::before{
        background-image: url(../images/mic_blog.svg);
    }
    &:hover{
        &::before{
            background-image: url(../images/mic_primary.svg);
        }
    }
}
.blogs__category{
    display: flex;
    justify-content: space-between;
    max-width: 596px;
    width: $width-img;
    @include max-screen(440px){
        @include flex-wrap();
        gap: 30px;
    }
}
.category{
    @include space-between();
    gap: 12px;
    span{
        display: $display-link;
        font-weight: $font-weight-bold;
        font-size: $font-size-base;
        line-height: $line-height-md;
        color: $color-gray;
    }
    p{
        @include space-between();
        padding: 11px 16px;
        border-radius: $b-radius-base;
        width: 160px;
        border: 1px solid #d7dadd;
        font-weight: $font-weight-regular;
        font-size: $font-size-sm;
        line-height: $line-height-base;
        color: $color-gray;
        &::after{
            content: "";
            display: $display-link;
            background-image: url(../images/arrow_line.svg);
            width: 12px;
            height: 7px;
        }
    }
}
.blogs__form{
    display: flex;
    justify-content: space-between;
    border: 1px solid #d7dadd;
    border-radius: $b-radius-base;
    width: 285px;
    input{
        padding: 11px 16px;
        font-weight: $font-weight-regular;
        font-size: $font-size-sm;
        line-height: $line-height-base;
        color: #9a9ca5;
        border: none;
        width: $width-img;
        &:focus{
            outline: none;
        }
    }
    button{
        background: $color-white;
        padding: 14px 16px;
        border: none;
        cursor: pointer;
        &::after{
            content: "";
            display: $display-link;
            width: 16px;
            height: 16px;
            background-image: url(../images/magn_glass.svg);
        }
    }
}
.blog__posts{
    display: flex;
    @include flex-wrap();
    gap: 60px 30px;
    margin-bottom: 80px;
}
.blog__posts-item,
.blog__posts-big,
.blog__posts-md{
    position: relative;
    img{
        margin-bottom: 16px;
        width: $width-img;
    }
}
.blog__posts-item{
    max-width: 390px;
    img{
        max-width: 390px;
    }
}
.blog__posts-big{
    max-width: 705px;
    img{
        max-width: 705px;
    }
}
.blog__posts-md{
    max-width: 495px;
    img{
       max-width: 495px;
    }
}
.blog__text_absolute{
    display: $display-link-flex;
    align-items: center;
    position: absolute;
    border-radius: $b-radius-base;
    padding: 1px 8px;
    background-color: $color-white;
    font-weight: $font-weight-regular;
    font-size: $font-size-sm;
    line-height: $line-height-base;
    color: $color-gray;
    gap: 4px;
    top: 12px;
    left: 12px;
}
.podcast,
.video,
.articl{
    &::before{
        content: "";
        display: $display-link;
        width: 16px;
        height: 17px;
    }
}
.podcast{
    &::before{
        background-image: url(../images/mic_card.svg);
    }
}
.video{
    &::before{
        background-image: url(../images/video_play_card.svg);
    }
}
.articl{
    &::before{
        background-image: url(../images/files_card.svg);
    }
}
.posts__describe{
    display: flex;
    align-items: center;
    margin-bottom: $mb-text;
}
.posts__item,
.posts__date,
.posts__timer{
    display: $display-link-flex;
    align-items: center;
    font-size: $font-size-sm;
    line-height: $line-height-base;
    color: $color-gray-light;
}
.posts__item{
    font-weight: $font-weight-bold;
    &::after{
        content: "";
        width: 12px;
        border: 1px solid $color-gray-light;
        transform: rotate(-90deg);
        margin: 0 8px;
    }
}
.posts__date{
    font-weight: $font-weight-regular;
    gap: 8px;
    &::before{
        content: "";
        display: $display-link;
        background-image: url(../images/calendar.svg);
        width: 16px;
        height: 17px;
        flex-shrink: 0;
    }
    &::after{
        content: "";
        width: 12px;
        border: 1px solid $color-gray-light;
        transform: rotate(-90deg);
        margin-right: 8px;
    }
}
.posts__timer{
    font-weight: $font-weight-regular;
    gap: 8px;
    &::before{
        content: "";
        display: $display-link;
        background-image: url(../images/clock.svg);
        width: 16px;
        height: 15px;
        flex-shrink: 0;
    }
}
.posts__title{
    font-weight: $font-weight-bold;
    font-size: $font-size-md;
    line-height: $line-height-base;
    color: $color-dark;
    margin-bottom: $mb-text;
}
.posts__text{
    font-weight: $font-weight-regular;
    font-size: $font-size-base;
    line-height: $line-height-md;
    color: $color-gray;
    margin-bottom: 16px;
}
.posts__link{
    display: $display-link-flex;
    align-items: center;
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    line-height: $line-height-md;
    color: $color-dark;
    &:hover{
        color: $color-orange;
    }
    &::after{
        content: "";
        display: $display-link;
        background-image: url(../images/arrow.svg);
        width: 24px;
        height: 24px;
        margin-left: 8px;
    }
}
.option{
    .posts__date{
        &::after{
            display: none;
        }
    }
}
.events__pagination{
    @include flex-center();
    margin-bottom: $mb-section-other;
    ul{
        display: flex;
        gap: 20px;
        a{
            font-weight: $font-weight-bold;
            font-size: $font-size-base;
            line-height: $line-height-md;
            color: $color-gray;
            &:hover{
                color: $color-primary;
            }
        }
        a.active{
            color: $color-primary;
        }
        .arrow__pagination{
            &:hover{
                img{
                    content: url(../images/arrow.svg);
                }
            }
        }
    }
}
.event__form{
    background: #f4f5f6;
    @include space-between();
    @include max-screen(1024px){
        @include flex-wrap();
        gap: 40px;
        text-align: $text-align-primary;
        padding-bottom: 30px;
    }
    img{
        max-width: 507px;
        width: $width-img;
    }
}
.event__subscribe{
    max-width: 600px;
    h3{
        font-size: 32px;
        margin-bottom: 48px;
    }
}
.form-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: $mb-title;
    @include max-screen(414px){
        @include flex-wrap();
        gap: 15px;
    }
    input{
        border-radius: $b-radius-base;
        border: 1px solid #d7dadd;
        padding: 13px 16px;
        font-weight: $font-weight-regular;
        font-size: $font-size-base;
        line-height: $line-height-md;
        color: #9a9ca5;
        max-width: 422px;
        width: $width-img;
    }
    button{
        background: $bg-link;
        color: $color-white;
        &:hover{
            background: $color-white;
            color: $color-orange;
        }

    }
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
    @include max-screen(440px){
    align-items: baseline;
    gap: 5px;
}
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
  &__custom {
  width: 16px;
  height: 16px;
  border: 1px solid $color-primary;
  border-radius: $b-radius-base;
  display: $display-link;
  background: $color-primary;
  position: relative;
  flex-shrink: 0;
  }
  input:checked + .checkbox__custom{
    &::after {
        content: "";
        position: absolute;
        top: 1px;
        left: 4px;
        width: 4px;
        height: 8px;
        border: solid $color-white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        }
  }
  
  
  &__text {
    font-weight: $font-weight-regular;
    font-size: $font-size-base;
    line-height: $line-height-md;
    color: $color-gray;
  }
}
.wrapper{
    background: linear-gradient(to bottom, $color-dark 85.35%, #2c2f3c 14.65%);
}
.footer__wrapper{
    padding: 80px 0 60px;
    display: flex;
    justify-content: space-between;
    @include max-screen(834px){
        @include flex-wrap();
        gap: 40px;
    }
    @include max-screen(440px){
        margin-bottom: 70px;
    }
}
.footer__info{
    max-width: 275px;
    img{
        margin-bottom: $mb-title;
    }
    p{
        font-weight: $font-weight-regular;
        font-size: 12px;
        line-height: $line-height-base;
        color: $color-white;
        opacity: 0.6;
        margin-bottom: 38px;
    }
    ul{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
.footer__list{
    max-width: 157px;
    h6{
        color: $color-white;
        margin-bottom: 12px;
    }
    li{
        margin-bottom: 10px;
    }
    a{
        opacity: 0.6;
        font-weight: $font-weight-regular;
        font-size: $font-size-base;
        line-height: $line-height-md;
        color: $color-white;
    }
}
.footer__phone,
.footer__mail{
    display: $display-link-flex;
    align-items: center;
    gap: 8px;
    &::before{
        display: $display-link;
        content: "";
        width: 16px;
        height: 16px;
    }
}
.footer__phone{
    &::before{
        background-image: url(../images/phone.svg);
    }
}
.footer__mail{
    &::before{
        background-image: url(../images/envelope.svg);
    }
}
.footer__form{
    max-width: 286px;
    h6{
        color: $color-white;
        margin-bottom: $mb-title;
    }
    form{
        display: flex;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: $b-radius-base;
        margin-bottom: 12px;
    }
    input{
        padding: 9px 12px;
        font-weight: $font-weight-regular;
        font-size: 12px;
        background: rgba(255, 255, 255, 0.12);
        line-height: $line-height-base;
        opacity: 0.6;
        border: none;
        color: $color-white;
        width: $width-img;
        &:focus{
            outline: none;
        }
    }
    button{
        background: rgba(255, 255, 255, 0.12);
        padding: 10px;
        opacity: 0.6;
        border: none;
    }
    small{
        font-weight: $font-weight-regular;
        font-size: 10px;
        line-height: $line-height-base;
        color: $color-white;
    }
}
.facebook__link{
    &:hover{
        img{
            content: url(../images/facebook_footer_hover.svg);
        }
    }
}
.twitter__link{
    &:hover{
        img{
            content: url(../images/twitter_hover.svg);
        }
    }
}
.youtube__link{
    &:hover{
        img{
            content: url(../images/youtube_hover.svg);
        }
    }
}
.telegram__link{
    &:hover{
        img{
            content: url(../images/telegram_hover.svg);
        }
    }
}
.insta__link{
    &:hover{
        img{
            content: url(../images/instagram_footer_hover.svg);
        }
    }
}
.linkedin__link{
    &:hover{
        img{
            content: url(../images/linkedin_footer_hover.svg);
        }
    }
}
.copyright{
    @include space-between();
    padding: 20px 0;
    @include max-screen(390px){
        display: block;
        text-align: $text-align-primary;
    }
}
.copyright__left{
    p, span{
        font-weight: $font-weight-regular;
        font-size: 12px;
        line-height: $line-height-base;
        color: $color-white;
    }
    p{
        display: flex;
        align-items: center;
        @include max-screen(390px){
            justify-content: center;
            margin-bottom: 15px;
        }
    }
}
.copyright__item{
    display: $display-link-flex;
    align-items: center;
    &::after{
        display: $display-link;
        content: "";
        background-image: url(../images/heart.svg);
        width: 16px;
        height: 16px;
        margin: 0 4px;
    }
}
.copyright__right{
    font-weight: $font-weight-bold;
    font-size: $font-size-sm;
    line-height: $line-height-base;
    opacity: 0.6;
    color: $color-white;
}
