* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

li {
  list-style: none;
}

h3, h1 {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 60px;
}

h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

.link {
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  padding: 0 40px;
  border: 1px solid #f75e05;
}

.box__bg {
  background: #ffd6cf;
}

.box {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 20px 15px 0;
}
@media screen and (max-width: 1024px) {
  .box {
    align-items: baseline;
  }
}
@media screen and (max-width: 440px) {
  .box {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 834px) {
  .logo {
    display: inline-flex;
    order: 2;
    justify-content: center;
  }
}
@media screen and (max-width: 440px) {
  .logo {
    margin-bottom: 10px;
  }
}

.nav__link,
.login__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.nav__link.active {
  color: #f75e05;
}

@media screen and (max-width: 834px) {
  nav {
    --transition-time: 500ms;
    position: relative;
    width: 200px;
    height: auto;
    display: flex;
    align-items: center;
    transform: translateX(-100%);
    transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
    z-index: 4;
    order: 1;
  }
}
nav a:hover {
  color: #f75e05;
}
nav .nav-list {
  display: flex;
  gap: 40px;
  margin-left: 60px;
}
@media screen and (max-width: 834px) {
  nav .nav-list {
    display: none;
    margin: 0;
  }
}
@media screen and (max-width: 834px) {
  nav .nav-links {
    position: absolute;
    display: block;
    top: 0;
    padding: 0 50px;
    background: #ffd6cf;
  }
}
@media screen and (max-width: 834px) {
  nav .nav-links li {
    margin-bottom: 10px;
  }
}
nav .sub-menu {
  --link-height: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
nav .menu-btn {
  display: none;
}
@media screen and (max-width: 834px) {
  nav .menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    --icon-width: 25px;
    position: absolute;
    top: -35px;
    right: -20%;
    width: calc(var(--icon-width) + 25px);
    height: calc(var(--icon-width) + 25px);
    flex-direction: column;
    transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.8, 0, 0.33, 1.25);
    cursor: pointer;
    z-index: 10;
  }
}
@media screen and (max-width: 834px) and (max-width: 440px) {
  nav .menu-btn {
    top: -10px;
  }
}
nav .menu-btn.close .line__1 {
  transform: rotate(45deg) translate(2px, -3px);
}
nav .menu-btn.close .line__2 {
  transform: rotate(-45deg);
}
nav .menu-btn.close .line__3 {
  transform: rotate(45deg) translate(-2px, 3px);
}
nav .menu-btn .line {
  width: var(--icon-width);
  background: #1e212c;
  height: 2px;
  margin: 3px 0;
  transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1);
}
nav .menu-btn .line__1 {
  width: var(--icon-width);
  transform-origin: left;
}
nav .menu-btn .line__2 {
  width: var(--icon-width);
  transform-origin: center;
}
nav .menu-btn .line__3 {
  width: var(--icon-width);
  transform-origin: right;
}
nav.nav-open {
  transform: translateX(0%);
}
nav.nav-open .menu-btn {
  right: 10%;
}
@media screen and (max-width: 440px) {
  nav.nav-open .menu-btn {
    right: 15%;
  }
}
nav.nav-open .nav-links li {
  transform: translateX(0);
  opacity: 1;
}
nav.sub-menu-open .sub-menu-btn {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}
nav.sub-menu-open .nav-links li {
  pointer-events: none;
  opacity: 0;
  transform: translateY(-10%);
}

.box__links {
  display: flex;
  align-items: center;
  gap: 64px;
}
@media screen and (max-width: 1024px) {
  .box__links {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 834px) {
  .box__links {
    order: 3;
  }
}
.box__links .btn__link {
  color: #fff;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
}
@media screen and (max-width: 440px) {
  .box__links .btn__link {
    display: none;
  }
}
.box__links .btn__link:hover {
  background: #fff;
  color: #f75e05;
}
.box__links .login__link {
  display: inline-flex;
  align-items: center;
}
.box__links .login__link::before {
  display: inline-block;
  content: "";
  background-image: url(../images/Profile.svg);
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 33, 44, 0.75);
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.modal-overlay.open {
  display: flex;
}

.modal {
  padding: 48px 48px 0;
}
.modal h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 24px;
  color: #1e212c;
}
.modal .modal-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #787a80;
  margin-bottom: 24px;
}

.modal-wrapper {
  border: 1px solid #e5e8ed;
  max-width: 486px;
  border-radius: 4px;
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(30, 33, 44, 0.08), 0 26px 24px -10px rgba(30, 33, 44, 0.1), 0 60px 80px -20px rgba(30, 33, 44, 0.16);
  background: #fff;
  max-height: 100vh;
  overflow-y: auto;
}

.input__modal {
  max-width: 390px;
  width: 100%;
  margin-bottom: 20px;
}
.input__modal label {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 8px;
}
.input__modal div {
  display: flex;
  justify-content: space-between;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  width: 100%;
}
.input__modal div input {
  border: none;
  width: 100%;
  padding: 11px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #9a9ca5;
}
.input__modal div input:focus {
  outline: none;
}
.input__modal div button {
  background: #fff;
  padding: 15px;
  border: none;
  cursor: pointer;
}
.input__modal div button::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/eye.svg);
}
.input__modal input {
  border-radius: 4px;
  border: 1px solid #d7dadd;
  width: 100%;
  padding: 11px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #9a9ca5;
}

.check-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.check-link a {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ff3f3a;
  margin-bottom: 24px;
}

.check-box {
  display: flex;
  align-items: center;
  gap: 12px;
  max-width: 315px;
  cursor: pointer;
  margin-bottom: 24px;
}
.check-box input[type=checkbox] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.check-box__custom {
  width: 16px;
  height: 16px;
  border: 1px solid #ff3f3a;
  border-radius: 4px;
  display: inline-block;
  background: #ff3f3a;
  position: relative;
  flex-shrink: 0;
}
.check-box input:checked + .check-box__custom::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.check-box__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.modal-link {
  display: inline-block;
  font-size: 14px;
  line-height: 314%;
  letter-spacing: 0.04em;
  color: #fff;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  padding: 0 32px;
  margin-bottom: 24px;
  width: 100%;
}
.modal-link:hover {
  background: #fff;
  color: #f75e05;
}

.modal-up, .link-up {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 24px;
}

.modal-up p {
  color: #424551;
}
.modal-up a {
  color: #ff3f3a;
}

.sign-social {
  border-top: 1px solid #e5e8ed;
  padding-top: 24px;
}
.sign-social p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #787a80;
  margin-bottom: 16px;
}
.sign-social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 48px;
}

.modal-facebook:hover img {
  content: url(../images/facebook_hs.svg);
}

.modal-google:hover img {
  content: url(../images/google_hs.svg);
}

.modal-twitter:hover img {
  content: url(../images/twitter_hs.svg);
}

.modal-linkedin:hover img {
  content: url(../images/linkedin_hs.svg);
}

.close-btn {
  cursor: pointer;
  float: right;
  font-size: 20px;
}

.title {
  background-color: #ffd6cf;
  text-align: center;
  padding: 120px 0;
  margin-bottom: 120px;
}
@media screen and (max-width: 440px) {
  .title {
    padding: 40px 0;
    margin-bottom: 60px;
  }
}
.title div {
  max-width: 1020px;
  margin: 0 auto;
}
.title h6 {
  color: #f75e05;
  margin-bottom: 12px;
}
.title h1 {
  margin: 0;
}
@media screen and (max-width: 414px) {
  .title h1 {
    font-size: 35px;
  }
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 180px;
}
@media screen and (max-width: 834px) {
  .about {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 440px) {
  .about {
    margin-bottom: 60px;
  }
}

.about__describe {
  max-width: 600px;
}
.about__describe h3 {
  margin-bottom: 40px;
}
@media screen and (max-width: 834px) {
  .about__describe h3 {
    text-align: center;
  }
}
.about__describe p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 48px;
}
.about__describe h4 {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 24px;
}
.about__describe li {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.about__describe li::before {
  content: "";
  display: inline-block;
  background-image: url(../images/check.svg);
  width: 16px;
  height: 16px;
  margin-right: 16px;
  flex-shrink: 0;
}

.about__info {
  display: grid;
  max-width: 495px;
  padding: 40px 32px;
  border-radius: 4px;
  border: 1px solid #e5e8ed;
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.about__info h6 {
  margin-bottom: 4px;
}
.about__info span {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #ff3f3a;
}
.about__info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
  margin-bottom: 32px;
}
.about__info a {
  border-radius: 4px;
  padding: 0px 32px;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  font-weight: 700;
  font-size: 14px;
  line-height: 314%;
  letter-spacing: 0.04em;
  text-align: center;
  border: 1px solid #f75e05;
  color: #fff;
}
.about__info a:hover {
  color: #f75e05;
  background: #fff;
}

.curator {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}
@media screen and (max-width: 1024px) {
  .curator {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
@media screen and (max-width: 440px) {
  .curator {
    margin-bottom: 60px;
  }
}
.curator img {
  max-width: 495px;
  width: 100%;
}

.curator__info {
  max-width: 600px;
  padding-top: 20px;
}
.curator__info h3 {
  margin-bottom: 16px;
}
.curator__info .curator__info-job {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #787a80;
  margin-bottom: 32px;
}
.curator__info span {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
@media screen and (max-width: 1024px) {
  .curator__info span {
    justify-content: center;
  }
}
.curator__info span::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.curator__info .rate {
  margin-bottom: 4px;
}
.curator__info .rate::before {
  background-image: url(../images/star_rate.svg);
}
.curator__info .number {
  margin-bottom: 4px;
}
.curator__info .number::before {
  background-image: url(../images/play_curator.svg);
}
.curator__info .output {
  margin-bottom: 32px;
}
.curator__info .output::before {
  background-image: url(../images/profile_stst.svg);
}
.curator__info .curator__info-describe {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 40px;
}
.curator__info ul {
  display: flex;
  gap: 24px;
}
@media screen and (max-width: 1024px) {
  .curator__info ul {
    justify-content: center;
  }
}

.facebook:hover img {
  content: url(../images/facebook_primary.svg);
}

.behance:hover img {
  content: url(../images/behance_primary.svg);
}

.twitter:hover img {
  content: url(../images/twitter_primary.svg);
}

.linkedin:hover img {
  content: url(../images/linkedin_primary.svg);
}

@media screen and (max-width: 1024px) {
  .process h6, .process h3 {
    text-align: center;
  }
}

.process__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 180px;
}
@media screen and (max-width: 1024px) {
  .process__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (max-width: 440px) {
  .process__wrapper {
    margin-bottom: 60px;
  }
}

.process__item {
  width: 285px;
  cursor: pointer;
}
.process__item span {
  position: relative;
  display: flex;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #d7dadd;
  margin-bottom: 16px;
  z-index: 4;
}
.process__item span::after {
  content: "";
  display: block;
  width: 209px;
  border: 1px dashed #d7dadd;
  position: absolute;
  top: 50%;
  right: 0;
  transition: all 0.4s ease;
}
.process__item h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 8px;
  color: #1e212c;
}
.process__item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}
.process__item:hover span {
  color: #ff3f3a;
}
.process__item:hover span::after {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  background: url(../images/bg-circles.svg);
  top: -85px;
  border: none;
  left: 25px;
  transform: translate(-50%, 50%);
  z-index: -1;
}

.sale {
  background: #ffd6cf;
  padding: 48px 60px;
  margin-bottom: 180px;
}
@media screen and (max-width: 440px) {
  .sale {
    margin-bottom: 60px;
  }
}

.sale__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}
@media screen and (max-width: 440px) {
  .sale__title {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }
}
.sale__title h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  color: #1e212c;
}

.sales__timer {
  display: flex;
  gap: 24px;
}
.sales__timer p {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 4px;
}
.sales__timer span {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #1e212c;
}

@media screen and (max-width: 1024px) {
  .sale__form {
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 15px;
  }
}

.sale__form, .register__form-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.sale__form div, .register__form-item div {
  width: 291px;
}
.sale__form label, .register__form-item label {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 8px;
}
.sale__form input, .register__form-item input {
  border-radius: 4px;
  border: 1px solid #d7dadd;
  width: 100%;
  padding: 11px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #9a9ca5;
}
.sale__form a, .register__form-item a {
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 4px;
  padding: 0px 32px;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid #f75e05;
  line-height: 314%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
.sale__form a:hover, .register__form-item a:hover {
  background: #fff;
  color: #f75e05;
}

.advantages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 180px;
}
@media screen and (max-width: 440px) {
  .advantages {
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
}

.advantages__title {
  max-width: 492px;
}
@media screen and (max-width: 440px) {
  .advantages__title {
    text-align: center;
  }
}

.advantages__list {
  max-width: 600px;
}
.advantages__list li {
  display: flex;
  align-items: baseline;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 20px;
}
.advantages__list li::before {
  content: "";
  display: inline-block;
  background-image: url(../images/check.svg);
  width: 16px;
  height: 16px;
  margin-right: 16px;
  flex-shrink: 0;
}

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
@media screen and (max-width: 834px) {
  .accordion {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
@media screen and (max-width: 440px) {
  .accordion {
    margin-bottom: 40px;
  }
}
.accordion img {
  max-width: 495px;
  width: 100%;
}

.accordion__item {
  max-width: 600px;
  width: 100%;
}
@media screen and (max-width: 834px) {
  .accordion__item h3, .accordion__item h6 {
    text-align: center;
  }
}

.faq-item {
  padding: 15px 0;
}

.faq-question {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  cursor: pointer;
  position: relative;
  padding-left: 38px;
}
.faq-question span {
  font-weight: 400;
  color: #ff3f3a;
  margin-right: 8px;
}
.faq-question::after {
  content: url(../images/Plus.svg);
  position: absolute;
  left: 0;
  top: 3px;
  transition: transform 0.3s ease;
}

.faq-item.active .faq-question::after {
  content: url(../images/Minus.svg);
}

.faq-answer {
  display: none;
  margin: 10px 0 0 38px;
  color: #424551;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

.comment {
  background-color: #f4f5f6;
  padding: 180px 0 160px;
}
@media screen and (max-width: 414px) {
  .comment {
    display: none;
  }
}
.comment h6, .comment h3 {
  text-align: center;
}

.comment__item {
  max-width: 1020px;
  margin: 0 auto;
  background-color: #fff;
  padding: 64px 105px;
}
.comment__item .comment__text {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 24px;
}
.comment__item .comment__text::before {
  content: "";
  display: inline-block;
  background-image: url(../images/braces.svg);
  width: 28px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.comment__text,
.comment__client {
  padding-left: 58px;
}

.comment__client {
  display: flex;
  align-items: center;
  gap: 20px;
}
.comment__client p {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
  margin-bottom: 4px;
}
.comment__client span {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
}

.register {
  background: #f4f5f6;
  margin-bottom: 120px;
}
@media screen and (max-width: 440px) {
  .register {
    margin-bottom: 40px;
  }
}

.register__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 0 100px;
}
@media screen and (max-width: 1024px) {
  .register__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}
@media screen and (max-width: 440px) {
  .register__wrapper {
    padding: 40px 0 30px;
  }
}
.register__wrapper img {
  max-width: 550px;
  width: 100%;
}

.register__form h3, .register__form .for__phone {
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .register__form h3, .register__form h6 {
    text-align: center;
  }
}

.register__form-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.register__form-item div {
  max-width: 495px;
  width: 100%;
}
.register__form-item a {
  padding: 0 40px;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  width: 100%;
}

.teachers {
  margin-bottom: 180px;
}
@media screen and (max-width: 440px) {
  .teachers {
    margin-bottom: 60px;
  }
}

.teachers__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}
@media screen and (max-width: 440px) {
  .teachers__title {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}

.teachers__title .slick-prev {
  position: static;
  transform: none;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.teachers__title .slick-next {
  position: static;
  transform: none;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
}

.slick-prev, .slick-next {
  background: transparent;
  transition: 0.3s;
}
.slick-prev::after, .slick-next::after {
  background: #ff3f3a;
}

.slick-initialized .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 440px) {
  .teachers__text {
    text-align: center;
  }
}
.teachers__text span {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1e212c;
}
.teachers__text h2 {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
}

.teachers__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  gap: 30px;
  margin-bottom: 80px;
}
@media screen and (max-width: 440px) {
  .teachers__card {
    justify-content: center;
  }
}

.teachers__card-item {
  display: flex !important;
  max-width: 600px !important;
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  width: 100% !important;
}
@media screen and (max-width: 440px) {
  .teachers__card-item {
    flex-wrap: wrap;
    justify-content: center;
    min-height: 430px;
  }
}
@media screen and (max-width: 320px) {
  .teachers__card-item {
    min-height: 460px;
  }
}

.teachers__card-describe {
  padding: 32px;
}
@media screen and (max-width: 440px) {
  .teachers__card-describe {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.teachers__card-describe .proff {
  display: inline-block;
  padding: 1px 8px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  border-radius: 4px;
  margin-bottom: 20px;
}
.teachers__card-describe p {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 20px;
}
.teachers__card-describe span {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  line-height: 150%;
}

.marketing {
  background: #03cea4;
}

.management {
  background: #5a87fc;
}

.recruting {
  background: #f89828;
}

.design {
  background: #f52f6e;
}

.price {
  font-weight: 700;
  color: #ff4242;
}

.name {
  font-weight: 400;
  color: #787a80;
}
.name::before {
  content: "";
  border: 1px solid #787a80;
  width: 16px;
  transform: rotate(-90deg);
}

.teachers__more {
  display: flex;
  justify-content: space-between;
  max-width: 584px;
  margin: 0 auto;
}
@media screen and (max-width: 440px) {
  .teachers__more {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }
}
.teachers__more p {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1e212c;
}
.teachers__more a {
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  color: #fff;
}
.teachers__more a:hover {
  background: #fff;
  color: #f75e05;
}

.wrapper {
  background: linear-gradient(to bottom, #1e212c 85.35%, #2c2f3c 14.65%);
}

.footer__wrapper {
  padding: 80px 0 60px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 834px) {
  .footer__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
}
@media screen and (max-width: 440px) {
  .footer__wrapper {
    margin-bottom: 70px;
  }
}

.footer__info {
  max-width: 275px;
}
.footer__info img {
  margin-bottom: 24px;
}
.footer__info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  opacity: 0.6;
  margin-bottom: 38px;
}
.footer__info ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__list {
  max-width: 157px;
}
.footer__list h6 {
  color: #fff;
  margin-bottom: 12px;
}
.footer__list li {
  margin-bottom: 10px;
}
.footer__list a {
  opacity: 0.6;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
}

.footer__phone,
.footer__mail {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.footer__phone::before,
.footer__mail::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
}

.footer__phone::before {
  background-image: url(../images/phone.svg);
}

.footer__mail::before {
  background-image: url(../images/envelope.svg);
}

.footer__form {
  max-width: 286px;
}
.footer__form h6 {
  color: #fff;
  margin-bottom: 24px;
}
.footer__form form {
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  margin-bottom: 12px;
}
.footer__form input {
  padding: 9px 12px;
  font-weight: 400;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.12);
  line-height: 150%;
  opacity: 0.6;
  border: none;
  color: #fff;
  width: 100%;
}
.footer__form input:focus {
  outline: none;
}
.footer__form button {
  background: rgba(255, 255, 255, 0.12);
  padding: 10px;
  opacity: 0.6;
  border: none;
}
.footer__form small {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #fff;
}

.facebook__link:hover img {
  content: url(../images/facebook_footer_hover.svg);
}

.twitter__link:hover img {
  content: url(../images/twitter_hover.svg);
}

.youtube__link:hover img {
  content: url(../images/youtube_hover.svg);
}

.telegram__link:hover img {
  content: url(../images/telegram_hover.svg);
}

.insta__link:hover img {
  content: url(../images/instagram_footer_hover.svg);
}

.linkedin__link:hover img {
  content: url(../images/linkedin_footer_hover.svg);
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
@media screen and (max-width: 390px) {
  .copyright {
    display: block;
    text-align: center;
  }
}

.copyright__left p, .copyright__left span {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
}
.copyright__left p {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 390px) {
  .copyright__left p {
    justify-content: center;
    margin-bottom: 15px;
  }
}

.copyright__item {
  display: inline-flex;
  align-items: center;
}
.copyright__item::after {
  display: inline-block;
  content: "";
  background-image: url(../images/heart.svg);
  width: 16px;
  height: 16px;
  margin: 0 4px;
}

.copyright__right {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  opacity: 0.6;
  color: #fff;
}/*# sourceMappingURL=course_example.css.map */