* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

li {
  list-style: none;
}

h3 {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 60px;
}

h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.link {
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  padding: 0 40px;
  border: 1px solid #f75e05;
}

.box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .box {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 440px) {
  .box {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

@media screen and (max-width: 834px) {
  .logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 440px) {
  .logo {
    margin-bottom: 10px;
  }
}

.nav__link,
.login__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.nav__links.active {
  color: #f75e05;
}

@media screen and (max-width: 834px) {
  nav {
    --transition-time: 500ms;
    position: relative;
    width: 200px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
    transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
    z-index: 4;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

nav a:hover {
  color: #f75e05;
}

nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-left: 60px;
}

@media screen and (max-width: 834px) {
  nav .nav-list {
    display: none;
    margin: 0;
  }
}

@media screen and (max-width: 834px) {
  nav .nav-links {
    position: absolute;
    display: block;
    top: 0;
    padding: 0 50px;
    background: #fff;
  }
}

@media screen and (max-width: 834px) {
  nav .nav-links li {
    margin-bottom: 10px;
  }
}

nav .sub-menu {
  --link-height: 60px;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

nav .menu-btn {
  display: none;
}

@media screen and (max-width: 834px) {
  nav .menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    --icon-width: 25px;
    position: absolute;
    top: -35px;
    right: -20%;
    width: calc(var(--icon-width) + 25px);
    height: calc(var(--icon-width) + 25px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.8, 0, 0.33, 1.25);
    transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.8, 0, 0.33, 1.25);
    cursor: pointer;
    z-index: 10;
  }
}

@media screen and (max-width: 834px) and (max-width: 440px) {
  nav .menu-btn {
    top: -10px;
  }
}

nav .menu-btn.close .line__1 {
  -webkit-transform: rotate(45deg) translate(2px, -3px);
          transform: rotate(45deg) translate(2px, -3px);
}

nav .menu-btn.close .line__2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav .menu-btn.close .line__3 {
  -webkit-transform: rotate(45deg) translate(-2px, 3px);
          transform: rotate(45deg) translate(-2px, 3px);
}

nav .menu-btn .line {
  width: var(--icon-width);
  background: #1e212c;
  height: 2px;
  margin: 3px 0;
  -webkit-transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1);
  transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1);
}

nav .menu-btn .line__1 {
  width: var(--icon-width);
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav .menu-btn .line__2 {
  width: var(--icon-width);
  -webkit-transform-origin: center;
          transform-origin: center;
}

nav .menu-btn .line__3 {
  width: var(--icon-width);
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav.nav-open {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

nav.nav-open .menu-btn {
  right: 10%;
}

@media screen and (max-width: 440px) {
  nav.nav-open .menu-btn {
    right: 15%;
  }
}

nav.nav-open .nav-links li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

nav.sub-menu-open .sub-menu-btn {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  pointer-events: all;
}

nav.sub-menu-open .nav-links li {
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.box__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
}

@media screen and (max-width: 1024px) {
  .box__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 834px) {
  .box__links {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.box__links .btn__link {
  color: #fff;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
}

@media screen and (max-width: 440px) {
  .box__links .btn__link {
    display: none;
  }
}

.box__links .btn__link:hover {
  background: #fff;
  color: #f75e05;
}

.box__links .login__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__links .login__link::before {
  display: inline-block;
  content: "";
  background-image: url(../images/Profile.svg);
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 33, 44, 0.75);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
}

.modal-overlay.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  padding: 48px 48px 0;
}

.modal h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 24px;
  color: #1e212c;
}

.modal .modal-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #787a80;
  margin-bottom: 24px;
}

.modal-wrapper {
  border: 1px solid #e5e8ed;
  max-width: 486px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(30, 33, 44, 0.08), 0 26px 24px -10px rgba(30, 33, 44, 0.1), 0 60px 80px -20px rgba(30, 33, 44, 0.16);
          box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(30, 33, 44, 0.08), 0 26px 24px -10px rgba(30, 33, 44, 0.1), 0 60px 80px -20px rgba(30, 33, 44, 0.16);
  background: #fff;
  max-height: 100vh;
  overflow-y: auto;
}

.input__modal {
  max-width: 390px;
  width: 100%;
  margin-bottom: 20px;
}

.input__modal label {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  margin-bottom: 8px;
}

.input__modal div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  width: 100%;
}

.input__modal div input {
  border: none;
  width: 100%;
  padding: 11px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #9a9ca5;
}

.input__modal div input:focus {
  outline: none;
}

.input__modal div button {
  background: #fff;
  padding: 15px;
  border: none;
  cursor: pointer;
}

.input__modal div button::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/eye.svg);
}

.input__modal input {
  border-radius: 4px;
  border: 1px solid #d7dadd;
  width: 100%;
  padding: 11px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #9a9ca5;
}

.check-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-link a {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ff3f3a;
  margin-bottom: 24px;
}

.check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  max-width: 315px;
  cursor: pointer;
  margin-bottom: 24px;
}

.check-box input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.check-box__custom {
  width: 16px;
  height: 16px;
  border: 1px solid #ff3f3a;
  border-radius: 4px;
  display: inline-block;
  background: #ff3f3a;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.check-box input:checked + .check-box__custom::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 4px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.check-box__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.modal-link {
  display: inline-block;
  font-size: 14px;
  line-height: 314%;
  letter-spacing: 0.04em;
  color: #fff;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  padding: 0 32px;
  margin-bottom: 24px;
  width: 100%;
}

.modal-link:hover {
  background: #fff;
  color: #f75e05;
}

.modal-up, .link-up {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 24px;
}

.modal-up p {
  color: #424551;
}

.modal-up a {
  color: #ff3f3a;
}

.sign-social {
  border-top: 1px solid #e5e8ed;
  padding-top: 24px;
}

.sign-social p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #787a80;
  margin-bottom: 16px;
}

.sign-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  margin-bottom: 48px;
}

.modal-facebook:hover img {
  content: url(../images/facebook_hs.svg);
}

.modal-google:hover img {
  content: url(../images/google_hs.svg);
}

.modal-twitter:hover img {
  content: url(../images/twitter_hs.svg);
}

.modal-linkedin:hover img {
  content: url(../images/linkedin_hs.svg);
}

.close-btn {
  cursor: pointer;
  float: right;
  font-size: 20px;
}

.events__wrapper h6, .events__wrapper h3 {
  text-align: center;
}

.events__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .events__filters {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.category span {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.category p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 16px;
  border-radius: 4px;
  width: 160px;
  border: 1px solid #d7dadd;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
}

.category p::after {
  content: "";
  display: inline-block;
  background-image: url(../images/arrow_line.svg);
  width: 12px;
  height: 7px;
}

.sort-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.sort-by span {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.sort-by p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  padding: 11px 16px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  border: 1px solid #d7dadd;
}

.sort-by p::after {
  content: "";
  display: inline-block;
  background-image: url(../images/arrow_line.svg);
  width: 12px;
  height: 7px;
}

.show-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.show-page span {
  display: inline-block;
}

.show-page p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 72px;
  padding: 11px 16px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  border: 1px solid #d7dadd;
}

.show-page p::after {
  content: "";
  display: inline-block;
  background-image: url(../images/arrow_up-down.svg);
  width: 16px;
  height: 16px;
}

.show-page .show-page-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.show-page .show-page-clar {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
}

.courses__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #9a9ca5;
  border-radius: 4px;
  width: 315px;
}

.courses__form input {
  padding: 11px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #9a9ca5;
  border: none;
  width: 100%;
}

.courses__form input:focus {
  outline: none;
}

.courses__form button {
  background: #fff;
  padding: 15px;
  border: none;
  cursor: pointer;
}

.courses__form button::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/magn_glass.svg);
}

.events__links {
  width: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link__grid:hover img {
  content: url(../images/grid_hover.svg);
}

.events__schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin-bottom: 60px;
}

.events__schedule-item {
  max-width: 100%;
  background-color: #fff;
  border: 1px solid #e5e8ed;
  padding: 32px 40px;
  display: -ms-grid;
  display: grid;
  border-radius: 4px;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 440px) {
  .events__schedule-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.events__schedule-item a {
  padding: 0px 32px;
  font-size: 14px;
  line-height: 314%;
  letter-spacing: 0.04em;
  color: #f75e05;
}

.events__schedule-item a:hover {
  color: #fff;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
}

.events__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.events__time .date {
  display: inline-block;
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #ff4242;
}

.events__time .month {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 4px;
}

.events__time .timer {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}

.events__item {
  margin-left: 40px;
}

@media screen and (max-width: 440px) {
  .events__item {
    margin: 0;
  }
}

.events__item p {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 4px;
}

.events__item span {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}

.events__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 180px;
}

@media screen and (max-width: 440px) {
  .events__pagination {
    margin-bottom: 60px;
  }
}

.events__pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.events__pagination ul a {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.events__pagination ul a:hover {
  color: #ff3f3a;
}

.events__pagination ul a.active {
  color: #ff3f3a;
}

.events__pagination ul .arrow__pagination:hover img {
  content: url(../images/arrow.svg);
}

.form__item {
  background-color: #ffd6cf;
  padding: 120px 0 180px;
}

@media screen and (max-width: 440px) {
  .form__item {
    padding: 60px 0;
  }
}

.form__item-title {
  max-width: 810px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 360px) {
  .form__item-title h3 {
    font-size: 40px;
  }
}

.createx__form {
  max-width: 600px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 440px) {
  .createx__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
  }
}

.createx__form input {
  border: 1px solid #d7dadd;
  border-radius: 4px;
  padding: 13px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #9a9ca5;
  max-width: 422px;
  width: 100%;
}

@media screen and (max-width: 414px) {
  .createx__form input {
    max-width: 310px;
  }
}

.createx__form button {
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.createx__form button:hover {
  background: #fff;
  color: #f75e05;
}

.wrapper {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(85.35%, #1e212c), color-stop(14.65%, #2c2f3c));
  background: linear-gradient(to bottom, #1e212c 85.35%, #2c2f3c 14.65%);
}

.footer__wrapper {
  padding: 80px 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 834px) {
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
}

@media screen and (max-width: 440px) {
  .footer__wrapper {
    margin-bottom: 70px;
  }
}

.footer__info {
  max-width: 275px;
}

.footer__info img {
  margin-bottom: 24px;
}

.footer__info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  opacity: 0.6;
  margin-bottom: 38px;
}

.footer__info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.footer__list {
  max-width: 157px;
}

.footer__list h6 {
  color: #fff;
  margin-bottom: 12px;
}

.footer__list li {
  margin-bottom: 10px;
}

.footer__list a {
  opacity: 0.6;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
}

.footer__phone,
.footer__mail {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.footer__phone::before,
.footer__mail::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
}

.footer__phone::before {
  background-image: url(../images/phone.svg);
}

.footer__mail::before {
  background-image: url(../images/envelope.svg);
}

.footer__form {
  max-width: 286px;
}

.footer__form h6 {
  color: #fff;
  margin-bottom: 24px;
}

.footer__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  margin-bottom: 12px;
}

.footer__form input {
  padding: 9px 12px;
  font-weight: 400;
  font-size: 12px;
  background: rgba(255, 255, 255, 0.12);
  line-height: 150%;
  opacity: 0.6;
  border: none;
  color: #fff;
  width: 100%;
}

.footer__form input:focus {
  outline: none;
}

.footer__form button {
  background: rgba(255, 255, 255, 0.12);
  padding: 10px;
  opacity: 0.6;
  border: none;
}

.footer__form small {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #fff;
}

.facebook__link:hover img {
  content: url(../images/facebook_footer_hover.svg);
}

.twitter__link:hover img {
  content: url(../images/twitter_hover.svg);
}

.youtube__link:hover img {
  content: url(../images/youtube_hover.svg);
}

.telegram__link:hover img {
  content: url(../images/telegram_hover.svg);
}

.insta__link:hover img {
  content: url(../images/instagram_footer_hover.svg);
}

.linkedin__link:hover img {
  content: url(../images/linkedin_footer_hover.svg);
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

@media screen and (max-width: 390px) {
  .copyright {
    display: block;
    text-align: center;
  }
}

.copyright__left p, .copyright__left span {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
}

.copyright__left p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 390px) {
  .copyright__left p {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }
}

.copyright__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__item::after {
  display: inline-block;
  content: "";
  background-image: url(../images/heart.svg);
  width: 16px;
  height: 16px;
  margin: 0 4px;
}

.copyright__right {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  opacity: 0.6;
  color: #fff;
}
/*# sourceMappingURL=events__list.css.map */