@import '_variables';
@mixin max-screen($res) {
    @media screen and (max-width: $res) {
      @content;
    }
}
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin space-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@mixin flex-wrap {
	flex-wrap: wrap;
	justify-content: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
}
.container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}
li{
    list-style: none;
}
h3, h1{
    font-weight: $font-weight-black;
    font-size: $font-size-lg;
    line-height: $line-height-sm;
    color: $color-dark;
    margin-bottom: $mb-adaptive;
}
h6{
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    line-height: $line-height-base;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-dark;
    margin-bottom: $mb-text;
}
a{
    text-decoration: none;
    transition: $transition-regular;
}
.link{
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    line-height: 325%;
    letter-spacing: 0.03em;
    text-align: $text-align-primary;
    border-radius: $b-radius-base;
    padding: 0 40px;
    border: 1px solid $color-orange;
}
.box__bg{
    background: #ffd6cf;
}
.box{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 20px 15px 0;
    @include max-screen(1024px){
        align-items: baseline;
    }
    @include max-screen(440px){
        grid-template-columns: auto;
    }
}
.logo{
    @include max-screen(834px){
        display: $display-link-flex;
        order: 2;
        justify-content: center;
    }
    @include max-screen(440px){
        margin-bottom: 10px;
    }
}
.nav__link,
.login__link{
    font-weight: $font-weight-bold;
    font-size: $font-size-base;
    line-height: $line-height-md;
    color: $color-gray;
}
.nav__links.active{
    color: $color-orange;
}
nav {
    @include max-screen(834px){
        --transition-time: 500ms;
	position: relative;
	width: 200px;
	height: auto;
	display: flex;
	align-items: center;
	transform: translateX(-100%);
	transition: all 800ms cubic-bezier(0.8, 0, 0.33, 1);
	z-index: 4;
    order: 1;
    }
	a{
        &:hover{
            color: $color-orange;
        }
	}
    .nav-list{
        display: flex;
        gap: 40px;
        margin-left: 60px;
        @include max-screen(834px){
           display: none;
           margin: 0;
        }
    }
	.nav-links {
        @include max-screen(834px){
            position: absolute;
            display: block;
            top: 0;
            padding: 0 50px;
            background: #ffd6cf;
        }
		li {
            @include max-screen(834px){
            margin-bottom: 10px;
            }
			
		}
	}
	.sub-menu {
		--link-height: 60px;
		position: absolute;
		top: 50%;
		left: 0;
		width: $width-img;
		transform: translateY(-50%);
	}
	.menu-btn {
        display: none;
        @include max-screen(834px){
            @include flex-center();
		--icon-width: 25px;
		position: absolute;
		top: -35px;
		right: -20%;
		width: calc(var(--icon-width) + 25px);
		height: calc(var(--icon-width) + 25px);
		flex-direction: column;
		transition: all calc(100ms + var(--transition-time)) cubic-bezier(0.8, 0, 0.33, 1.25);
		cursor: pointer;
		z-index: 10;
        @include max-screen(440px){
            top: -10px;
        }
        }
		&.close {
			.line {
				&__1 {
					transform: rotate(45deg) translate(2px, -3px);
				}
				&__2 {
					transform: rotate(-45deg);
				}
				&__3 {
					transform: rotate(45deg) translate(-2px, 3px);
				}
			}
		}
		.line {
			width: var(--icon-width);
			background: $color-dark;
			height: 2px;
			margin: 3px 0;
			transition: all calc(var(--transition-time) + 100ms) cubic-bezier(0.9, 0, 0.33, 1);
			&__1 {
				width: var(--icon-width);
				transform-origin: left;
			}
			&__2 {
				width: var(--icon-width);
				transform-origin: center;
			}
			&__3 {
				width: var(--icon-width);
				transform-origin: right;
			}
		}
	}
	&.nav-open {
		transform: translateX(0%);
		.menu-btn {
			right: 10%;
            @include max-screen(440px){
                right: 15%;
            }
		}
		.nav-links {
			li {
				transform: translateX(0);
				opacity: 1;
			}
		}
	}
	&.sub-menu-open {
		.sub-menu-btn {
			opacity: 1;
			transform: translateX(0);
			pointer-events: all;
		}
		.nav-links {
			li {
				pointer-events: none;
				opacity: 0;
				transform: translateY(-10%);
			}
		}
	}
}
.box__links{
    display: flex;
    align-items: center;
    gap: 64px;
    @include max-screen(1024px){
        flex-direction: column;
        gap: 20px;
    }
    @include max-screen(834px){
        order: 3;
    }
    .btn__link{
        color: $color-white;
        background: $bg-link;
        @include max-screen(440px){
            display: none;
        }
        &:hover{
            background: $color-white;
            color: $color-orange;
        }
    }
    .login__link{
        display: $display-link-flex;
        align-items: center;
        &::before{
            display: $display-link;
            content: "";
            background-image: url(../images/Profile.svg);
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
    }
}
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: $width-img;
    height: 100%;
    background: rgba(30, 33, 44, 0.75);
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.modal-overlay.open{
    display: flex;
}
.modal {
    padding: 48px 48px 0;
    h1{
        font-weight: $font-weight-bold;
        font-size: 28px;
        line-height: $line-height-base;
        text-align: $text-align-primary;
        margin-bottom: $mb-title;
        color: $color-dark;
    }
    .modal-text{
        font-weight: $font-weight-regular;
        font-size: $font-size-sm;
        line-height: $line-height-base;
        text-align: $text-align-primary;
        color: $color-gray-light;
        margin-bottom: $mb-title;
    }
}
.modal-wrapper{
    border: 1px solid #e5e8ed;
    max-width: 486px;
    border-radius: $b-radius-base;
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(30, 33, 44, 0.08), 0 26px 24px -10px rgba(30, 33, 44, 0.1), 0 60px 80px -20px rgba(30, 33, 44, 0.16);
    background: $color-white;
    max-height: 100vh;
    overflow-y: auto;
}
.input__modal{
    max-width: 390px;
    width: $width-img;
    margin-bottom: 20px;
    label{
        display: $display-link;
        font-weight: $font-weight-regular;
        font-size: $font-size-sm;
        line-height: $line-height-base;
        color: $color-gray;
        margin-bottom: $mb-text;
    }
    div{
        display: flex;
        justify-content: space-between;
        border: 1px solid #d7dadd;
        border-radius: $b-radius-base;
        width: $width-img;
        input{
            border: none;
            width: $width-img;
            padding: 11px 16px;
            font-weight: $font-weight-regular;
            font-size: $font-size-sm;
            line-height: $line-height-base;
            color: #9a9ca5;
            &:focus{
                outline: none;
            }
        }
        button{
            background: $color-white;
            padding: 15px;
            border: none;
            cursor: pointer;
            &::after{
                content: "";
                display: $display-link;
                width: 16px;
                height: 16px;
                background-image: url(../images/eye.svg);
            }
        }
    }
    input{
        border-radius: $b-radius-base;
        border: 1px solid #d7dadd;
        width: $width-img;
        padding: 11px 16px;
        font-weight: $font-weight-regular;
        font-size: $font-size-sm;
        line-height: $line-height-base;
        color: #9a9ca5;
    }
}
.check-link{
    @include space-between();
    a{
        font-weight: $font-weight-regular;
        font-size: $font-size-sm;
        line-height: $line-height-base;
        color: $color-primary;
        margin-bottom: $mb-title;
    }
}
.check-box {
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 315px;
    cursor: pointer;
    margin-bottom: $mb-title;
  
    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      pointer-events: none;
    }
    
    &__custom {
    width: 16px;
    height: 16px;
    border: 1px solid $color-primary;
    border-radius: $b-radius-base;
    display: $display-link;
    background: $color-primary;
    position: relative;
    flex-shrink: 0;
    }
    input:checked + .check-box__custom{
      &::after {
          content: "";
          position: absolute;
          top: 1px;
          left: 4px;
          width: 4px;
          height: 8px;
          border: solid $color-white;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          }
    }
    &__text {
      font-weight: $font-weight-regular;
      font-size: $font-size-base;
      line-height: $line-height-md;
      color: $color-gray;
    }
}
.modal-link{
    display: $display-link;
    font-size: $font-size-sm;
    line-height: 314%;
    letter-spacing: 0.04em;
    color: $color-white;
    background: $bg-link;
    padding: 0 32px;
    margin-bottom: $mb-title;
    width: $width-img;
    &:hover{
        background: $color-white;
        color: $color-orange;
    }
}
.modal-up, .link-up{
    font-weight: $font-weight-regular;
    font-size: $font-size-sm;
    line-height: $line-height-base;
    margin-bottom: $mb-title;
}
.modal-up{
    p{
        color: $color-gray;
    }
    a{
        color: $color-primary;
    }
}
.sign-social{
    border-top: 1px solid #e5e8ed;
    padding-top: 24px;
    p{
        font-weight: $font-weight-regular;
        font-size: $font-size-sm;
        line-height: $line-height-base;
        text-align: $text-align-primary;
        color: $color-gray-light;
        margin-bottom: 16px;
    }
    ul{
        @include flex-center();
        gap: 12px;
        margin-bottom: 48px;
    }
}
.modal-facebook{
    &:hover{
        img{
            content: url(../images/facebook_hs.svg);
        }
    }
}
.modal-google{
    &:hover{
        img{
            content: url(../images/google_hs.svg);
        }
    }
}
.modal-twitter{
    &:hover{
        img{
            content: url(../images/twitter_hs.svg);
        }
    }
}
.modal-linkedin{
    &:hover{
        img{
            content: url(../images/linkedin_hs.svg);
        }
    }
}
.close-btn {
    cursor: pointer;
    float: right;
    font-size: $font-size-md;
}
.title{
    background-color: #ffd6cf;
    text-align: $text-align-primary;
    padding: 120px 0;
    margin-bottom: $mb-section;
    @include max-screen(440px){
        padding: 50px 15px;
        margin-bottom: 30px;
    }
    div{
        max-width: 1020px;
        margin: 0 auto;
    }
    h6{
        color: $color-orange;
        margin-bottom: 12px;
    }
    h1{
        margin: 0;
        @include max-screen(440px){
            font-size: 35px;
        }
    }
}
.accordion{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: $mb-section;
    @include max-screen(834px){
        @include flex-wrap();
        gap: 50px;
    }
}
.accordion__item{
    max-width: 600px;
    width: $width-img;
    h3{
        @include max-screen(834px){
            text-align: $text-align-primary;
        }
    }
}
.faq-item {
  padding: 15px 0;
}
.faq-question {
  font-weight: $font-weight-bold;
  font-size: $font-size-md;
  line-height: $line-height-base;
  color: $color-dark;
  cursor: pointer;
  position: relative;
  padding-left: 38px;
  span{
      font-weight: $font-weight-regular;
      color: $color-primary;
      margin-right: 8px;
  }
  &::after{
      content: url(../images/Plus.svg);
      position: absolute;
      left: 0;
      top: 3px;
      transition: transform $transition-regular ease;
  }
}
.faq-item.active{
  .faq-question{
      &::after{
          content: url(../images/Minus.svg);
      }
  }
}
.faq-answer {
  display: none;
  margin: 10px 0 0 38px;
  color: $color-gray;
  font-weight: $font-weight-regular;
  font-size: $font-size-base;
  line-height: $line-height-md;
}
.about__info{
    display: grid;
    max-width: 495px;
    padding: 40px 32px;
    border-radius: $b-radius-base;
    border: 1px solid #e5e8ed;
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
    h6{
        margin-bottom: 4px;
    }
    span{
        margin-bottom: $mb-text;
        font-weight: $font-weight-bold;
        font-size: 24px;
        line-height: $line-height-sm;
        color: $color-primary;
    }
    p{
        font-weight: $font-weight-regular;
        font-size: $font-size-base;
        line-height: $line-height-md;
        color: $color-gray-light;
        margin-bottom: 32px;
    }
    .on-facebook{
        font-weight: $font-weight-bold;
        font-size: $font-size-sm;
        line-height: $line-height-base;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: $color-primary;
        margin-bottom: 40px;
    }
    .join{
        padding: 0px 32px;
        background: $bg-link;
        font-size: $font-size-sm;
        line-height: 314%;
        letter-spacing: 0.04em;
        color: $color-white;
        &:hover{
            color: $color-orange;
            background: $color-white;
        }
    }
}
.speaker{
    display: flex;
    justify-content: space-between;
    margin-bottom: $mb-section-other;
    @include max-screen(1024px){
        @include flex-wrap();
        text-align: $text-align-primary;
    }
    @include max-screen(440px){
        margin-bottom: $mb-adaptive;
    }
}
.speaker__photo{
    max-width: 495px;
    width: $width-img;
}
.speaker__info{
    max-width: 600px;
    padding-top: 20px;
    h3{
        margin-bottom: 16px;
    }
    .speaker__info-job{
        font-weight: $font-weight-regular;
        font-size: $font-size-md;
        line-height: $line-height-base;
        color: $color-gray-light;
        margin-bottom: 32px;
    }
    .speaker__info-describe{
        font-weight: $font-weight-regular;
        font-size: $font-size-base;
        line-height: $line-height-md;
        color: $color-gray;
        margin-bottom: 40px;
    }
    ul{
        display: flex;
    }
    .emblems{
        gap: 40px;
        margin-bottom: 40px;
        @include max-screen(1024px){
            @include flex-wrap();
        }
    }
    .socials{
        gap: 24px;
        @include max-screen(1024px){
            justify-content: center;
        }
    }
}
.facebook{
    &:hover{
        img{
            content: url(../images/facebook_primary.svg);
        }
    }
}
.instagram{
    &:hover{
        img{
            content: url(../images/Instagram_primary.svg);
        }
    }
}
.twitter{
    &:hover{
        img{
            content: url(../images/twitter_primary.svg);
        }
    }
}
.linkedin{
    &:hover{
        img{
            content: url(../images/linkedin_primary.svg);
        }
    }
}
.advantages{
    h6{
        @include max-screen(440px){
            text-align: $text-align-primary;
        }
    }
}
.advantages__wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: $mb-section-other;
    @include max-screen(440px){
        flex-wrap: wrap;
    }
}
.advantages__title{
    max-width: 492px;
    @include max-screen(440px){
        text-align: $text-align-primary;
    }
}
.advantages__list{
    max-width: 600px;
    li{
        display: flex;
        align-items: baseline;
        font-weight: $font-weight-bold;
        font-size: $font-size-md;
        line-height: $line-height-base;
        color: $color-gray;
        margin-bottom: 20px;
        &::before{
            content: "";
            display: $display-link;
            background-image: url(../images/check.svg);
            width: 16px;
            height: 16px;
            margin-right: 16px;
            flex-shrink: 0;
        }
    }
}
.event__form--bg{
    background: #ffd6cf;
}
.event__form{
    padding: 60px 103px;
    display: flex;
    justify-content: space-between;
    margin-bottom: $mb-section;
    @include max-screen(1024px){
        @include flex-wrap();
        gap: 50px;
    }
    @include max-screen(440px){
        padding: 20px;
    }
}
.event__subscribe{
    max-width: 600px;
    h3{
        font-size: 32px;
        margin-bottom: 48px;
        @include max-screen(1024px){
            text-align: $text-align-primary;
        }
    }
}
.form-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: $mb-title;
    @include max-screen(440px){
        @include flex-wrap();
        gap: 20px;
    }
    input{
        border-radius: $b-radius-base;
        border: 1px solid #d7dadd;
        padding: 13px 16px;
        font-weight: $font-weight-regular;
        font-size: $font-size-base;
        line-height: $line-height-md;
        color: #9a9ca5;
        max-width: 422px;
        width: $width-img;
    }
    button{
        background: $bg-link;
        color: $color-white;
        &:hover{
            background: $color-white;
            color: $color-orange;
        }

    }
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
  &__custom {
  width: 16px;
  height: 16px;
  border: 1px solid $color-primary;
  border-radius: $b-radius-base;
  display: $display-link;
  background: $color-primary;
  position: relative;
  flex-shrink: 0;
  }
  input:checked + .checkbox__custom{
    &::after {
        content: "";
        position: absolute;
        top: 1px;
        left: 4px;
        width: 4px;
        height: 8px;
        border: solid $color-white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        }
  }
  
  
  &__text {
    font-weight: $font-weight-regular;
    font-size: $font-size-base;
    line-height: $line-height-md;
    color: $color-gray;
  }
}
.register{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: $mb-section;
    @include max-screen(1024px){
        @include flex-wrap();
        gap: 50px;
    }
    img{
        max-width: 600px;
        width: $width-img;
    }
}
.register__form{
    h3{
        margin-bottom: 40px;
    }
    h3, h6{
        @include max-screen(1024px){
            text-align: $text-align-primary;
        }
    }
}
.register__form-item{
    display: flex;
    flex-direction: column;
    gap: 24px;
    div{
        max-width: 495px;
        width: $width-img;
    }
    .for__phone{
        margin-bottom: 16px;
    }
    label{
        display: $display-link;
        font-weight: $font-weight-regular;
        font-size: $font-size-sm;
        line-height: $line-height-base;
        color: $color-gray;
        margin-bottom: $mb-text;
    }
    input{
        border-radius: $b-radius-base;
        border: 1px solid #d7dadd;
        width: $width-img;
        padding: 11px 16px;
        font-weight: $font-weight-regular;
        font-size: $font-size-sm;
        line-height: $line-height-base;
        color: #9a9ca5;
    }
    a{
        width: $width-img;
        background: $bg-link;
        color: $color-white;
        &:hover{
            background: $color-white;
            color: $color-orange;
        }
    }
    small{
        font-weight: $font-weight-regular;
        font-size: $font-size-base;
        line-height: $line-height-md;
        color: $color-gray;
    }
}
.events{
    padding: 100px 15px 180px;
    background: #f4f5f6;
    @include max-screen(440px){
        padding-bottom: 50px;
    }
}
.events__title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: $mb-adaptive;
    @include max-screen(440px){
        @include flex-wrap();
        gap: 30px;
    }
}
.events__title{
    .slick-prev{
        position: static;
        transform: none;
        display: $display-link;
        margin-left: 10px;
        cursor: pointer;
    }
}
.events__title{
    .slick-next{
        position: static;
        transform: none;
        display: $display-link;
        margin-left: 10px;
        cursor: pointer;
    }
}
.slick-prev, .slick-next{
    background: transparent;
    transition: $transition-regular;
    &::after{
        background: $color-primary;
    }
}
.slick-initialized{
    .slick-slide{
        @include flex-center();
    }
}
.events__text{
    @include max-screen(440px){
        text-align: $text-align-primary;
    }
    span{
        font-weight: $font-weight-bold;
        font-size: $font-size-base;
        line-height: $line-height-base;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $color-dark;
    }
    h2{
        font-weight: $font-weight-black;
        font-size: $font-size-lg;
        line-height: $line-height-sm;
        color: $color-dark;
    }
}
.events__schedule{
    display: flex;
    @include flex-wrap();
    gap: 30px;
    margin-bottom: $mb-adaptive;
}
.events__schedule-item{
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e5e8ed;
    border-radius: $b-radius-base;
    min-height: 325px;
    background: $color-white;
    max-width: 390px;
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
    padding: 24px;
    .date{
        font-weight: $font-weight-bold;
        font-size: 28px;
        line-height: $line-height-base;
        color: $color-primary;
    }
    .time, .formation{
        font-weight: $font-weight-regular;
        font-size: $font-size-base;
        line-height: $line-height-md;
        color: $color-gray-light;
    }
    p{
        font-weight: $font-weight-bold;
        font-size: 18px;
        line-height: $line-height-base;
        color: $color-dark;
    }
    a{
        border-radius: $b-radius-base;
        padding: 0px 32px;
        border: 1px solid $color-orange;
        color: $color-orange;
        font-weight: $font-weight-bold;
        font-size: $font-size-sm;
        line-height: 314%;
        letter-spacing: 0.04em;
        text-align: $text-align-primary;
        &:hover{
            color: $color-white;
            background: $bg-link;
        }
    }
}
.events__more{
    @include space-between();
    max-width: 584px;
    margin:  0 auto;
    @include max-screen(440px){
        @include flex-wrap();
        text-align: $text-align-primary;
        gap: 20px;
    }
    p{
        font-weight: $font-weight-bold;
        font-size: 28px;
        line-height: $line-height-base;
        color: $color-dark;
    }
    a{
        background: $bg-link;
        color: $color-white;
        &:hover{
            background: $color-white;
            color: $color-orange;
        }
    }
}
.wrapper{
    background: linear-gradient(to bottom, $color-dark 85.35%, #2c2f3c 14.65%);
}
.footer__wrapper{
    padding: 80px 0 60px;
    display: flex;
    justify-content: space-between;
    @include max-screen(834px){
        @include flex-wrap();
        gap: 40px;
    }
    @include max-screen(440px){
        margin-bottom: 70px;
    }
}
.footer__info{
    max-width: 275px;
    img{
        margin-bottom: $mb-title;
    }
    p{
        font-weight: $font-weight-regular;
        font-size: 12px;
        line-height: $line-height-base;
        color: $color-white;
        opacity: 0.6;
        margin-bottom: 38px;
    }
    ul{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
.footer__list{
    max-width: 157px;
    h6{
        color: $color-white;
        margin-bottom: 12px;
    }
    li{
        margin-bottom: 10px;
    }
    a{
        opacity: 0.6;
        font-weight: $font-weight-regular;
        font-size: $font-size-base;
        line-height: $line-height-md;
        color: $color-white;
    }
}
.footer__phone,
.footer__mail{
    display: $display-link-flex;
    align-items: center;
    gap: 8px;
    &::before{
        display: $display-link;
        content: "";
        width: 16px;
        height: 16px;
    }
}
.footer__phone{
    &::before{
        background-image: url(../images/phone.svg);
    }
}
.footer__mail{
    &::before{
        background-image: url(../images/envelope.svg);
    }
}
.footer__form{
    max-width: 286px;
    h6{
        color: $color-white;
        margin-bottom: $mb-title;
    }
    form{
        display: flex;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: $b-radius-base;
        margin-bottom: 12px;
    }
    input{
        padding: 9px 12px;
        font-weight: $font-weight-regular;
        font-size: 12px;
        background: rgba(255, 255, 255, 0.12);
        line-height: $line-height-base;
        opacity: 0.6;
        border: none;
        color: $color-white;
        width: $width-img;
        &:focus{
            outline: none;
        }
    }
    button{
        background: rgba(255, 255, 255, 0.12);
        padding: 10px;
        opacity: 0.6;
        border: none;
    }
    small{
        font-weight: $font-weight-regular;
        font-size: 10px;
        line-height: $line-height-base;
        color: $color-white;
    }
}
.facebook__link{
    &:hover{
        img{
            content: url(../images/facebook_footer_hover.svg);
        }
    }
}
.twitter__link{
    &:hover{
        img{
            content: url(../images/twitter_hover.svg);
        }
    }
}
.youtube__link{
    &:hover{
        img{
            content: url(../images/youtube_hover.svg);
        }
    }
}
.telegram__link{
    &:hover{
        img{
            content: url(../images/telegram_hover.svg);
        }
    }
}
.insta__link{
    &:hover{
        img{
            content: url(../images/instagram_footer_hover.svg);
        }
    }
}
.linkedin__link{
    &:hover{
        img{
            content: url(../images/linkedin_footer_hover.svg);
        }
    }
}
.copyright{
    @include space-between();
    padding: 20px 0;
    @include max-screen(390px){
        display: block;
        text-align: $text-align-primary;
    }
}
.copyright__left{
    p, span{
        font-weight: $font-weight-regular;
        font-size: 12px;
        line-height: $line-height-base;
        color: $color-white;
    }
    p{
        display: flex;
        align-items: center;
        @include max-screen(390px){
            justify-content: center;
            margin-bottom: 15px;
        }
    }
}
.copyright__item{
    display: $display-link-flex;
    align-items: center;
    &::after{
        display: $display-link;
        content: "";
        background-image: url(../images/heart.svg);
        width: 16px;
        height: 16px;
        margin: 0 4px;
    }
}
.copyright__right{
    font-weight: $font-weight-bold;
    font-size: $font-size-sm;
    line-height: $line-height-base;
    opacity: 0.6;
    color: $color-white;
}
