* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
}

li {
  list-style: none;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffd6cf;
  padding-top: 20px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-left: 60px;
}

.nav__list a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.box__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
}

.box__links .btn__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 0px 40px;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
}

.box__links .login__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-decoration: none;
  color: #424551;
}

.box__links .login__link::before {
  display: inline-block;
  content: "";
  background-image: url(../images/Profile.svg);
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.inform {
  background-color: #ffd6cf;
  margin-bottom: 180px;
}

.inform__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 128px;
  margin-bottom: 190px;
}

.inform__wrapper img {
  max-width: 602px;
  width: 100%;
}

.inform__text {
  max-width: 496px;
  padding-top: 12px;
}

.inform__text .inform__play {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
  color: #1e212c;
  margin-bottom: 24px;
}

.inform__text .inform__play:hover::before {
  background-image: url(../images/play_hover.svg);
}

.inform__text .inform__play::before {
  content: "";
  display: inline-block;
  background-image: url(../images/play.svg);
  width: 84px;
  height: 84px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.inform__text h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #1e212c;
  margin-bottom: 60px;
}

.inform__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.inform__links a {
  border-radius: 4px;
  border: 1px solid #f75e05;
  padding: 0px 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #f75e05;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.inform__links a:hover {
  color: #fff;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
}

.inform__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inform__item-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
  gap: 12px;
}

.ball::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #f75e05;
  margin-left: 50px;
}

.inform__item-number {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: #1e212c;
}

.inform__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
}

.why__createx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 180px;
}

.why__createx div {
  max-width: 390px;
}

.why__createx span {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1e212c;
}

.why__createx h2 {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 40px;
}

.why__createx a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 314%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 4px;
  padding: 0px 32px;
  text-decoration: none;
}

.why__createx-list {
  margin-bottom: 48px;
}

.why__createx-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 12px;
}

.why__createx-list li::before {
  content: "";
  display: inline-block;
  background-image: url(../images/check.svg);
  width: 16px;
  height: 16px;
  margin-right: 16px;
  margin-top: 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.teachers {
  margin-bottom: 180px;
}

.teachers__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 60px;
}

.teachers__title a {
  border-radius: 4px;
  padding: 0px 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
  color: #f75e05;
  border: 1px solid #f75e05;
}

.teachers__title a:hover {
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  color: #fff;
}

.teachers__text span {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1e212c;
}

.teachers__text h2 {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
}

.teachers__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
  gap: 30px;
}

.teachers__card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  -webkit-box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
          box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  width: 100%;
}

.teachers__card-describe {
  padding: 32px;
}

.teachers__card-describe h6 {
  display: inline-block;
  padding: 1px 8px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  border-radius: 4px;
  margin-bottom: 20px;
}

.teachers__card-describe p {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 20px;
}

.teachers__card-describe span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 150%;
}

.marketing {
  background: #03cea4;
}

.management {
  background: #5a87fc;
}

.recruting {
  background: #f89828;
}

.design {
  background: #f52f6e;
}

.price {
  font-weight: 700;
  color: #ff4242;
}

.name {
  font-weight: 400;
  color: #787a80;
}

.name::before {
  content: "";
  border: 1px solid #787a80;
  width: 16px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.benefits {
  margin-bottom: 120px;
}

.benefits h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #1e212c;
  margin-bottom: 8px;
}

.benefits h3 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: #1e212c;
  margin-bottom: 60px;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.benefits__item p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  padding: 10px 72px;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  border: 1px solid transparent;
  color: #9a9ca5;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.benefits__item p:hover {
  border: 1px solid #ff4242;
  color: #ff4242;
}

.benefits__item p::before {
  content: "";
  width: 16px;
  height: 16px;
}

.benefits__item-star::before,
.benefits__item-layout::before,
.benefits__item-like::before,
.benefits__item-chat::before {
  display: inline-block;
  margin-right: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.benefits__item-star::before {
  background-image: url(../images/star.svg);
}

.benefits__item-star:hover::before {
  background-image: url(../images/star_hover.svg);
}

.benefits__item-like::before {
  background-image: url(../images/like.svg);
}

.benefits__item-like:hover::before {
  background-image: url(../images/like_hover.svg);
}

.benefits__item-layout::before {
  background-image: url(../images/layouts.svg);
}

.benefits__item-layout:hover::before {
  background-image: url(../images/layouts_hover.svg);
}

.benefits__item-chat::before {
  background-image: url(../images/chat.svg);
}

.benefits__item-chat:hover::before {
  background-image: url(../images/chat_hover.svg);
}

.benefits__tutors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__tutors div {
  max-width: 495px;
}

.benefits__tutors h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 24px;
  text-align: initial;
}

.benefits__tutors p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}

.events {
  background-color: #ffd6cf;
  padding: 80px 15px;
}

.events h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
  text-align: center;
}

.events h3 {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  text-align: center;
  margin-bottom: 60px;
}

.events__schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin-bottom: 60px;
}

.events__schedule-item {
  max-width: 100%;
  background-color: #fff;
  padding: 32px 40px;
  display: -ms-grid;
  display: grid;
  border-radius: 4px;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.events__schedule-item a {
  border-radius: 4px;
  padding: 0px 32px;
  border: 1px solid #f75e05;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 314%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #f75e05;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.events__schedule-item a:hover {
  color: #fff;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
}

.events__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.events__time .date {
  display: inline-block;
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #ff4242;
}

.events__time .month {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 4px;
}

.events__time .timer {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}

.events__item {
  margin-left: 40px;
}

.events__item p {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 4px;
}

.events__item span {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #787a80;
}

.events__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 495px;
}

.events__more p {
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1e212c;
}

.events__more a {
  text-decoration: none;
  border-radius: 4px;
  padding: 0px 40px;
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  font-weight: 700;
  font-size: 16px;
  line-height: 325%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  border: 1px solid #f75e05;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.events__more a:hover {
  color: #f75e05;
  background: #fff;
}
/*# sourceMappingURL=styles.css.map */