*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
}
.container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
}
li{
    list-style: none;
}
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffd6cf;
    padding-top: 20px;
}
nav{
    display: flex;
}
.nav__list{
    display: flex;
    gap: 40px;
    margin-left: 60px;
    a{
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color:#424551;
    }
}
.box__links{
    display: flex;
    align-items: center;
    gap: 64px;
    .btn__link{
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 325%;
        letter-spacing: 0.03em;
        text-align: center;
        color: #fff;
        border-radius: 4px;
        padding: 0px 40px;
        background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
    }
    .login__link{
        display: inline-flex;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        text-decoration: none;
        color: #424551;
        &::before{
            display: inline-block;
            content: "";
            background-image: url(../images/Profile.svg);
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
    }
}
.inform{
    background-color: #ffd6cf;
    margin-bottom: 180px;
}
.inform__wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 128px;
    margin-bottom: 190px;
    img{
        max-width: 602px;
        width: 100%;
    }
}
.inform__text{
    max-width: 496px;
    padding-top: 12px;
    .inform__play{
        display: inline-flex;
        align-items: center;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        text-decoration: none;
        color: #1e212c;
        margin-bottom: 24px;
        &:hover{
            &::before{
                background-image: url(../images/play_hover.svg);
            }
        }
        &::before{
            content: "";
            display: inline-block;
            background-image: url(../images/play.svg);
            width: 84px;
            height: 84px;
            background-position: center;
            background-repeat: no-repeat;
            transition: 0.3s;
        }
    }
    h1{
        font-weight: 900;
        font-size: 64px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #1e212c;
        margin-bottom: 60px;
    }
}
.inform__links{
    display: flex;
    gap: 24px;
    a{
        border-radius: 4px;
        border: 1px solid #f75e05;
        padding: 0px 40px;
        font-weight: 700;
        font-size: 16px;
        line-height: 325%;
        letter-spacing: 0.03em;
        text-align: center;
        color: #f75e05;
        text-decoration: none;
        transition: 0.3s;
        &:hover{
            color: #fff;
            background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
        }
    }
}
.inform__item{
    display: flex;
    justify-content: space-between;
}
.inform__item-block{
    display: inline-flex;
    align-items: center;
    margin-bottom: 80px;
    gap: 12px;
}
.ball{
    &::after{
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: #f75e05;
        margin-left: 50px;
    }
}
.inform__item-number{
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #1e212c;
}
.inform__item-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1e212c;
}
.why__createx{
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
    div{
        max-width: 390px;
    }
    span{
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #1e212c;
    }
    h2{
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
        color: #1e212c;
        margin-bottom: 40px;
    }
    a{
        display: inline-flex;
        font-weight: 700;
        font-size: 14px;
        line-height: 314%;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff; 
        background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
        border-radius: 4px;
        padding: 0px 32px;
        text-decoration: none;
    }
}
.why__createx-list{
    margin-bottom: 48px;
    li{
        display: flex;
        align-items: flex-start;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #424551;
        margin-bottom: 12px;
        &::before{
            content: "";
            display: inline-block;
            background-image: url(../images/check.svg);
            width: 16px;
            height: 16px;
            margin-right: 16px;
            margin-top: 4px;
            flex-shrink: 0;
        }
    }
}
.teachers{
    margin-bottom: 180px;
}
.teachers__title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
    a{
        border-radius: 4px;
        padding: 0px 40px;
        font-weight: 700;
        font-size: 16px;
        line-height: 325%;
        letter-spacing: 0.03em;
        text-decoration: none;
        text-align: center;
        color: #f75e05;
        border: 1px solid #f75e05;
        &:hover{
            background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
            color: #fff;
        }
    }
}
.teachers__text{
    span{
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #1e212c;
    }
    h2{
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
        color: #1e212c;
    }
}
.teachers__card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    gap: 30px;
    
}
.teachers__card-item{
    display: flex;
    max-width: 600px;
    box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.03), 0 12px 10px -6px rgba(154, 156, 165, 0.04), 0 30px 24px -10px rgba(154, 156, 165, 0.05), 0 80px 80px -20px rgba(154, 156, 165, 0.08);
    border: 1px solid #e5e8ed;
    border-radius: 4px;
    width: 100%;
}
.teachers__card-describe{
    padding: 32px;
    h6{
        display: inline-block;
        padding: 1px 8px;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    p{
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: #1e212c;
        margin-bottom: 20px;
    }
    span{
        display: inline-flex;
        align-items: center;
        font-size: 18px;
        line-height: 150%;
    }
}
.marketing{
    background: #03cea4;
}
.management{
    background: #5a87fc;
}
.recruting{
    background: #f89828;
}
.design{
    background: #f52f6e;
}
.price{
    font-weight: 700;
    color: #ff4242;
}
.name{
    font-weight: 400;
    color: #787a80;
    &::before{
        content: "";
        border: 1px solid #787a80;
        width: 16px;
        transform: rotate(-90deg);
    }
}
.benefits{
    margin-bottom: 120px;
    h6{
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: #1e212c;
        margin-bottom: 8px;
    }
    h3{
        font-family: var(--font-family);
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
        text-align: center;
        color: #1e212c;
        margin-bottom: 60px;
    }
}
.benefits__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    p{
        display: inline-flex;
        align-items: center;
        font-weight: 700;
        padding: 10px 72px;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        border: 1px solid transparent;
        color: #9a9ca5;
        border-radius: 4px;
        transition: 0.3s;
        &:hover{
            border: 1px solid #ff4242;
            color: #ff4242;
        }
        &::before{
            content: "";
            width: 16px;
            height: 16px;
        }
    }
}
.benefits__item-star,
.benefits__item-layout,
.benefits__item-like,
.benefits__item-chat{
    &::before{
        display: inline-block;
        margin-right: 8px;
        transition: 0.3s;
    }
}
.benefits__item-star{
    &::before{
        background-image: url(../images/star.svg);
    }
    &:hover{
        &::before{
            background-image: url(../images/star_hover.svg);
        }
    }
}
.benefits__item-like{
    &::before{
        background-image: url(../images/like.svg);
    }
    &:hover{
        &::before{
            background-image: url(../images/like_hover.svg);
        }
    }
}
.benefits__item-layout{
    &::before{
        background-image: url(../images/layouts.svg);
    }
    &:hover{
        &::before{
            background-image: url(../images/layouts_hover.svg);
        }
    }
}
.benefits__item-chat{
    &::before{
        background-image: url(../images/chat.svg);
    }
    &:hover{
        &::before{
            background-image: url(../images/chat_hover.svg);
        }
    }
}
.benefits__tutors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    div{
        max-width: 495px;
    }
    h3{
        font-weight: 900;
        font-size: 32px;
        line-height: 130%;
        color: #1e212c;
        margin-bottom: 24px;
        text-align: initial;
    }
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #424551;
    }
}
.events{
    background-color: #ffd6cf;
    padding: 80px 15px;
    margin-bottom: 120px;
    h6{
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #1e212c;
        margin-bottom: 8px;
        text-align: center;
    }
    h3{
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
        color: #1e212c;
        text-align: center;
        margin-bottom: 60px;
    }
}
.events__schedule{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 60px;
}
.events__schedule-item{
    max-width: 100%;
    background-color: #fff;
    padding: 32px 40px;
    display: grid;
    border-radius: 4px;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    a{
        border-radius: 4px;
        padding: 0px 32px;
        border: 1px solid #f75e05;
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 314%;
        letter-spacing: 0.04em;
        text-align: center;
        color: #f75e05;
        transition: 0.3s;
        &:hover{
            color: #fff;
            background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
        }
    }
}
.events__time{
    display: flex;
    gap: 20px;
    .date{
        display: inline-block;
        font-weight: 900;
        font-size: 48px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #ff4242;
    }
    .month{
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: #1e212c;
        margin-bottom: 4px;
    }
    .timer{
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #787a80;
    }
}
.events__item{
    margin-left: 40px;
    p{
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: #1e212c;
        margin-bottom: 4px;
    }
    span{
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #787a80;
    }
}
.events__more{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 495px;
    p{
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        color: #1e212c;
    }
    a{
        text-decoration: none;
        border-radius: 4px;
        padding: 0px 40px;
        background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
        font-weight: 700;
        font-size: 16px;
        line-height: 325%;
        letter-spacing: 0.03em;
        text-align: center;
        color: #fff;
        border: 1px solid #f75e05;
        transition: 0.3s;
        &:hover{
            color: #f75e05;
            background: #fff;
        }
    }
}
.certificate{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #fff 90%, #f4f5f6 10%);
}
.certificate__info{
    max-width: 395px;
    h6{
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #1e212c;
        margin-bottom: 8px;
    }
    h3{
        color: #1e212c;
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
        margin-bottom: 48px;
    }
    p{
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #424551;
        margin-bottom: 32px;
    }
}
.certificate__logo{
    display: flex;
    align-items: center;
    gap: 40px;
}
.team{
    padding-top: 120px;
    background-color: #f4f5f6;
    h6{
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #1e212c;
        margin-bottom: 8px;
    }
    h3{
        color: #1e212c;
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
        margin-bottom: 60px;
    }
}
.team__squad{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.team__squad-item {
    text-align: center;
    position: relative;
    overflow: hidden;
    &:hover{
        .team__card{
            &::after{
                opacity: 1;
                pointer-events: none;
            }
        }
    ul{
        bottom: 90px;
    }
    }
    p{
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: #424551;
      margin-bottom: 4px;
    }
    span{
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #787a80;
    }
    ul{
      display: flex;
      gap: 12px;
      position: absolute;
      bottom: -30px;
      right: 20px;
      transition: bottom 0.5s;
      z-index: 3;
    }
    .team__card{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      border-radius: 4px;
      width: 285px;
      height: 340px;
      background-color: #ffcf2d;
      margin-bottom: 16px;
      position: relative;
      overflow: hidden;
    img{
        position: relative;
        z-index: 1;
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        z-index: 2;
        background: linear-gradient(
          180deg,
          rgba(30, 33, 44, 0) 43.9%,
          rgba(30, 33, 44, 0.03) 55.21%,
          rgba(30, 33, 44, 0.33) 68.73%,
          rgba(30, 33, 44, 0.56) 76.17%,
          rgba(30, 33, 44, 0.77) 83.75%,
          rgba(30, 33, 44, 0.92) 91.49%,
          #1e212c 100%
        );
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
      }
    }
}
.team__icons-fbook{
    img{
        transition: 0.3s;
        &:hover{
            content: url(../images/facebook_hover.svg);
        }
    }
}
.team__icons-insta{
    img{
        transition: 0.3s;
        &:hover{
            content: url(../images/instagram_hover.svg);
        }
    }
}
.team__icons-lindin{
    img{
        transition: 0.3s;
        &:hover{
            content: url(../images/linkedin_hover.svg);
        }
    }
}